<%= form_tag administr8te_settings_path, :method => :put do %>
  <div>
    <h3>Report email settings</h3>
    <p class="info">These fields are shown by default when user sends a report by email.</p>

    <p>
      <%= label_tag :"settings[reports.email.subject]", "Default subject" %>
      <%= text_field_tag :"settings[reports.email.subject]", Settings['reports.email.subject'], :size => 80 %>
    </p>

    <p>
      <%= label_tag :"settings[reports.email.body]", "Default body" %><br />
      <span class='highlight'>The <code>%{report_link}</code> tag will be dynamically replaced with the actual link to the report.</span><br />
      <%= text_area_tag :"settings[reports.email.body]", Settings['reports.email.body'], :size => "60x10" %>
    </p>

    <h3>Invoice email settings</h3>
    <p class="info">These fields are shown by default when user sends an invoice by email.</p>

    <p>
      <%= label_tag :"settings[invoices.email.subject]", "Default subject" %>
      <%= text_field_tag :"settings[invoices.email.subject]", Settings['invoices.email.subject'], :size => 80 %>
    </p>

    <p>
      <%= label_tag :"settings[reports.email.body]", "Default body" %><br />
      <span class='highlight'>The <code>%{invoice_link}</code> tag will be dynamically replaced by the actual link to the invoice.</span><br />
      <%= text_area_tag :"settings[invoices.email.body]", Settings['invoices.email.body'], :size => "60x10" %>
    </p>
    
    <h3>Subscriptions</h3>
    <p>
      <%= label_tag :"settings[subscriptions.trial_period]", "Default Trial Period (day)" %>
      <%= text_field_tag :"settings[subscriptions.trial_period]", Settings['subscriptions.trial_period'], :size => 5 %>
    </p>
    <p>
      <%= label_tag :"settings[subscriptions.alert_trial_expire]", "Send reminder when trial about to expire (day)" %>
      <%= text_field_tag :"settings[subscriptions.alert_trial_expire]", Settings['subscriptions.alert_trial_expire'], :size => 5 %>
    </p>
    <p>
      <%= label_tag :"settings.defaults[subscriptions.max_failed_payments]", "Max failed payments before we cancel subscription" %>
      <%= text_field_tag :"settings.defaults[subscriptions.max_failed_payments]", Settings.defaults['subscriptions.max_failed_payments'], :size => 5 %>
    </p>
    <p>
      <%= label_tag :"settings[subscription_receipt_signature]", "Subscription Transaction Default Receipt Signature" %><br />
      <span <span class='highlight'>This is used in both PDF and Email receipt</span><br />
      <%= text_area_tag :"settings[subscription_receipt_signature]", Settings['subscription_receipt_signature'], :size => "60x16" %>
    </p>
    
    <p>
      <span class="submit"><%= submit_tag "Save settings" %></span>
    </p>
  </div>

<% end %>