<div id="intro">
	<ul>
		<li id="customers" class="step">
			<div class="step-inner">
				<span class="step-id">-1-</span>
				<h2>Customers</h2>
				<p>We all need Customers to operate so this is the starting point</p>
				<% if current_user.customers.any? %><p class="check"><%= image_tag "check.png" %></p>
				<% else %><p class="buttonorange"><%= link_to '+ New Customer', new_customer_path, :remote => true %></p>
				<% end %>
			</div>
		</li>
		<li id="projects" class="step">
			<div class="step-inner">
				<span class="step-id">-2-</span>
				<h2>Projects</h2>
				<p>Projects are fun wether they are Billable or Internal</p>
				<% if current_user.customers.any? %><p class="buttonorange"><%= link_to '+ New Project', new_project_path %></p>
				<% else %><p class="buttonorange inactive">+ New Project</p>
				<% end %>
				<p class="check"><%= image_tag "check.png" unless !current_user.projects.any? %></p>
			</div>
		</li>
		<li id="time" class="step">
			<div class="step-inner">
				<span class="step-id">-3-</span>
				<h2>Time Tracking</h2>
				<p>Timesheet should be easy & speedy. Same goes with reporting</p>
				<% if current_user.activities.any? %><p class="check"><%= image_tag "check.png" %></p>
				<% else %><p class="buttonorange inactive">+ New Activity</p>
				<% end %>
			</div>
		</li>
		<li id="invoice" class="step">
			<div class="step-inner">
				<span class="step-id">-4-</span>
				<h2>Invoices</h2>
				<p>Get rewarded. Send invoices to customers and track payments</p>
				<p class="buttonorange inactive">+ New Invoice</p>
			</div>
		</li>
	</ul>
</div>