<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="settings-list">
    <div class="column_left border" class="">
      <div class="inline-form">
        <h2>Company contact & billing information</h2>
        <p class="info">Add contact information on timesheets and invoices</p>

        <div class="field">
          <%= f.label :company %>
          <%= f.text_field :company %>
        </div>
        <div class="field">
          <%= f.label :address1 %>
          <%= f.text_field :address1 %>
        </div>
        <div class="field">
          <%= f.label :address2 %>
          <%= f.text_field :address2 %>
        </div>
        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
        <div class="field">
          <%= f.label :province %>
          <%= collection_select(:profile, :province, Province.all, :name, :name, options = {:prompt => ""}) %>
        </div>
        <div class="field">
          <%= f.label :postal_code %>
          <%= f.text_field :postal_code, :size => 6 %>
        </div>
        <div class="field">
          <%= f.label :country %>
          <%= collection_select(:profile, :country, Country.all, :printable_name, :printable_name, options = {:prompt => ""}) %>
        </div>
        <div class="field">
          <%= f.label :phone_number, 'Phone' %>
          <%= f.phone_field :phone_number %>
        </div>
		    <div class="field">
  	      <%= f.label :website %>
  	      <%= f.url_field :website %>
        </div>
        <div class="field">
          <%= f.label :logo %>
          <%= f.file_field :logo %>
          <% unless f.object.logo_file_name.blank? %>
            <%= image_tag(f.object.logo.url(:thumb)) %>
            <p><%= f.check_box :remove_logo, :class => "fl" %> <span>Remove</span></p>
          <% end %>
        </div>
        <div class="actions">
	      <p class="submit"><%= f.submit "Update Settings" %></p>
	    </div>
      </div>
    </div>
    <div class="column_right border">
      <h2>Member since <%= l @profile.created_at.to_date %></h2><br/>

      <div class="field">
        <h2><%= f.label :localization %></h2>

        <p class="info">Select currency, date and number format</p>
        <%= collection_select(:profile, :localization, Localization.order("name"), :reference, :name, options = {:prompt => ""}) %>
      </div>
      <div class="field">
        <h2><%= f.label :hours_per_day %></h2>
        <p class="info">How many hours equal a full working day? Required to convert hours to days</p>
        <%= f.number_field :hours_per_day, :size => 5 %>
      </div>
      <div class="field">
        <h2><%= label_tag "Start of fiscal year" %></h2>

        <p class="info">Select start date and month</p>
        <%= f.date_select :fiscal_year, :discard_year => true, :order => [:day, :month], :prompt => true %>
      </div>
      <br />
      <h2>Invoice settings</h2>
        <div class="field">
          <p class="info">What taxes do you use?</p>
          Tax 1:<%= f.text_field :tax1_label, :size => 6 %>
          <%= f.number_field :tax1, :size => 5 %> %<br/>
          Tax 2:<%= f.text_field :tax2_label, :size => 6 %>
          <%= f.number_field :tax2, :size => 5 %> %
          <%= f.check_box :compound %> <%= f.label :compound %>
        </div>
        <div class="field">
          <p class="info">Add default invoice signature</p>
          <%= f.text_area :invoice_signature, :rows => 6, :class => "invoice-sig-area" %>
        </div>
      </div>
<% end %>