<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="column_left">
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :province %><br />
    <%= collection_select(:profile, :province, Province.all, :name, :name, options = {:prompt => ""}) %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, :size => 6 %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= collection_select(:profile, :country, Country.all, :printable_name, :printable_name, options = {:prompt => ""}) %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.phone_field :phone_number %>
  </div>
</div>
<div id="column_right">
	<h2>You joined us <%= l @profile.created_at.to_date %></h2><br/>
  <div class="field">
    <%= f.label :localization %><br />
    <p class="info">Select currency, date and number format</p>
    <%= collection_select(:profile, :localization, Localization.all, :reference, :name) %>
  </div>
  <div class="field">
    <%= f.label :hours_per_day %><br />
    <p class="info">How many hours equals a full billable day</p>
    <%= f.text_field :hours_per_day, :size => 5 %>
  </div>
</div>
  <div class="actions">
    <p class="submit"><%= f.submit "Update Profile" %></p>
  </div>
<% end %>