<h1>Edit your Account</h1>

<div id="column_left">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <h2><%= f.label :email %></h2>
  <%= f.email_field :email %>

  <h2><%= f.label :first_name %></h2>
  <%= f.text_field :first_name %>
  
  <h2><%= f.label :last_name %></h2>
  <%= f.text_field :last_name %>
  
  <h2><%= f.label :current_password %><i style="font-weight:normal; font-size:12px;"> (leave blank if you don't want to change it)</i></h2>
  <%= f.password_field :current_password %>

  <h2><%= f.label :password_confirmation %></h2>
  <%= f.password_field :password_confirmation %>
  
  <p class="submit left"><%= f.submit "Save changes" %></p>
</div>

<div id="column_right">
  <div id="current_plan">
    <h2>Your Plan</h2>
    <p id="plan"><%= current_user.plan.name %></p>
    <li><%= markdown(current_user.plan.features) %></li>
    <%= link_to 'Upgrade' %>
  </div>
  
  <h3>Cancel my Account</h3> 
    <p>Unhappy? Cancel your account anytime but make sure you have a backup first because <span style="color:red">all of your account information will be permanently deleted.</p>
	<p class="submit left"><%= link_to "Delete my Account", registration_path(resource_name), :confirm => "Are you sure you want to delete your account?", :method => :delete, :html => {:class => 'submit' } %></p>

</div>
  
<% end %>