<h1>Edit your Account</h1>

<div class="column_left">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <h2><%= f.label :email %></h2>
  <%= f.email_field :email %>

  <h2><%= f.label :first_name %></h2>
  <%= f.text_field :first_name %>
  
  <h2><%= f.label :last_name %></h2>
  <%= f.text_field :last_name %>
  
  <h2><%= f.label :password, "New password" %><i style="font-weight:normal; font-size:12px;"> (leave blank if you don't want to change it)</i></h2>
  <%= f.password_field :password %>

  <h2><%= f.label :password_confirmation %></h2>
  <%= f.password_field :password_confirmation %>
  
  <p class="submit left"><%= f.submit "Save changes" %></p>
</div>

<div class="column_right">
  <div id="current_plan">
    <h2>Your current Plan</h2>
    <p id="active_plan" class="blue_on_blue">
      <%= current_user.plan.name %>
      <% if current_user.trial? %>
        (<%= pluralize(current_user.trial_days_left, 'Day') %> Left)
      <% end %>
    </p>
    <% if current_user.current_subscription %>
      <span id="upgrade_btn"><%= link_to 'Manage Subscription', current_subscriptions_path, :class => 'buttonorange' %></span>
    <% else %>
      <% if current_user.trial_days_left <= Settings['subscriptions.alert_trial_expire']  %>
        <span id="upgrade_btn"><%= link_to 'Upgrade', new_subscription_path, :class => 'buttonorange' %></span>
      <% end %>
    <% end %>
  </div>
  
  <h3>Cancel my Account</h3> 
  <p>Unhappy? Cancel your account anytime but make sure you have a backup first because <span style="color:red">all of your account information will be permanently deleted.</p>
  <p class="submit left"><%= link_to "Delete my Account", registration_path(resource_name), :confirm => "Are you sure you want to delete your account?", :method => :delete, :html => {:class => 'submit' } %></p>

</div>
<% end %>