<div class='dialog signup'>
  <%= render 'layouts/flash' %>
  <h1>Sign up</h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <h2><%= f.label :first_name %></h2>
  <%= f.text_field :first_name %>
  
  <h2><%= f.label :last_name %></h2>
  <%= f.text_field :last_name %>

  <h2><%= f.label :email %></h2>
  <%= f.email_field :email %>

  <h2><%= f.label :password %> <span style="font-weight:normal">(6 characters minimum)</span></h2>
  <%= f.password_field :password %>

  <h2><%= f.label :password_confirmation %></h2>
  <%= f.password_field :password_confirmation %>

  <p>By clicking Create my account you agree to the <%= link_to 'Terms of Service', "http://getprojectlog.com/terms/", :target => "_blank" %> and <%= link_to 'Privacy', "http://getprojectlog.com/privacy/", :target => "_blank" %>.</p>

  <p class="submit left"><%= submit_tag "Create my account", 'data-disable-with' => "Processing ..." %></p>
  <% end %>
</div>

<div id='signup_sidebar'>
  <div id="logo">    
     <h1>Projectlog</h1>
  </div>
  <h2>You're just 60 seconds away from your new Projectlog account.</h2>
  
  <p>You Receive:</p>
  <ul id="advantages">
    <li>FREE Trial (cancel anytime)</li>
    <li>Security and Reliability</li>
    <li>Great Customer Service</li>
    <li>Export your data anytime</li>
  </ul>
</div>
