<%= nested_form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table class="invoice-form-table">
      <tr>
        <td><%= f.label :invoice_number %></td>
        <td><%= f.text_field :invoice_number %></td>
      </tr>
      <tr>
        <td><%= f.label :issued_date %></td>
        <td><%= f.text_field :issued_date %></td>
      </tr>
      <tr>
        <td><%= f.label :due_date %></td>
        <td><%= f.text_field :due_date %></td>
      </tr>
      <tr>
        <td><%= f.label :customer_id %></td>
        <td><%= f.select :customer_id, current_user.customers.collect{|c| [c.name, c.id]} %></td>
      </tr>
      <tr>
        <td><%= f.label :balance %></td>
        <td><%= f.text_field :balance %></td>
      </tr>
      <tr>
        <td><%= f.label :status %></td>
        <td><%= f.select :status, options_for_select(Invoice.status_list, @invoice.status) %></td>
      </tr>
      <tr>
        <td><%= f.label :currency %></td>
        <td><%= f.select :currency, options_for_select(currency_options, @invoice.currency) %></td>
      </tr>
    </table>
    <div style="clear:both"></div>
    <table style="width:100%;">
      <tr>
        <td style="text-align:center;"><%= f.label :subject %></td>
        <td><%= f.text_field :subject, :style => "width:650px;" %></td>
      </tr>
    </table>
    <br />
    <div class="full-width table" id="line-items">
      <div class="tr">
        <div class="th"></div>
        <div class="th">Type</div>
        <div class="th">Description</div>
        <div class="th">Quantity</div>
        <div class="th">Price</div>
        <% if @invoice.user.profile.any_taxes? %>
          <div class="th">Subtotal</div>
          <div class="th">Taxes</div>
          <% unless @invoice.user.profile.tax1.blank? %>
            <div class="th tax1" data-taxvalue="<%= @invoice.user.profile.tax1 %>"><%= @invoice.user.profile.tax1_name %></div>
          <% end %>
          <% unless @invoice.user.profile.tax2.blank? %>
            <div class="th tax2" data-taxvalue="<%= @invoice.user.profile.tax2 %>"><%= @invoice.user.profile.tax2_name %></div>
          <% end %>
        <% end %>
        <div class="th">Amount</div>
      </div>
      <%= f.fields_for :line_items %>
      <div><%= f.link_to_add "Add new line", :line_items %></div>
    </div>
    <hr />
    <table style="width:100%" id="total">
      <tbody>
        <tr>
           <td colspan=6  style="text-align:right">Subtotal</td>
           <td id="subtotal" style="text-align:right" id="subtotal"><%= @invoice.line_items.sum(:line_total).round(2) %></td>
        </tr>
        <tr>
           <td colspan=6 style="text-align:right"><%= f.label :discount, 'Discount %' %></td>
           <td style="text-align:right; width: 1%"><%= f.number_field :discount, :size => 6 %></td>
        </tr>
        <tr>
           <td colspan=6 style="text-align:right">Amount Due</td>
           <td style="text-align:right" id="amount_due"><%= (@invoice.line_items.sum(:line_total)*(1-(@invoice.discount || 0)/100)).round(2) %></td>
        </tr>
      </tbody>
    </table>
    <%= f.label :note %><br />
    <%= f.text_area :note, :rows => 6, :cols => 130 %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
