<%= nested_form_for(@invoice, :html => {:id => "invoice-form"}) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :tax1, :id => "tax1_rate" %>
  <%= f.hidden_field :tax1_label %>
  <%= f.hidden_field :tax2, :id => "tax2_rate" %>
  <%= f.hidden_field :tax2_label %>
  <%= f.hidden_field :compound, :id => "compound" %>
  <div class="inline-form">
    <div class="field">
      <%= f.label :subject, :class => 'mandatory' %>
      <%= f.text_field :subject, :style => "width:650px;" %>
    </div>
    <div class="field">
      <%= f.label :issued_date, 'Issue Date', :class => 'mandatory' %>
      <%= f.text_field :issued_date, :class => 'date' %>
    </div>
    <div class="field">
      <%= f.label :due_date, 'Due Date', :class => 'mandatory' %>
      <%= f.text_field :due_date, :class => 'date' %>
    </div>
    <div class="field">
      <%= f.label :customer_id, :class => 'mandatory' %>
      <%= f.select :customer_id, current_user.customers.collect { |c| [c.name, c.id] }, :prompt => true %>
    </div>
    <div class="field">
      <%= f.label :currency %>
      <%= f.select :currency, options_for_select(currency_options, @invoice.currency) %>
    </div>
  </div>
  <br/>
  <div class="full-width table" id="line-items">
    <div class="tr">
      <div class="th">Type</div>
      <div class="th">Description</div>
      <div class="th">Quantity</div>
      <div class="th">Price</div>
      <div class="th">Subtotal</div>
    </div>
    <%= f.fields_for :line_items %>
    <span id="add_new_invoice_line"><%= f.link_to_add "Add new line", :line_items %></span>
  </div>
  <div class="separation"></div>
  <table style="width:100%" id="total">
    <tr>
      <td colspan=4>Subtotal: </td>
      <td id="subtotal"><%= @invoice.subtotal %></td>
    </tr>
    <tr class="<%= 'hidden' if @invoice.tax1.blank? %>">
      <td colspan=4><%= @invoice.tax1_name %>: </td>
      <td id="taxtotal1"><%= @invoice.tax1_amount %></td>
    </tr>
    <tr class="<%= 'hidden' if @invoice.tax2.blank? %>">
      <td colspan=4><%= @invoice.tax2_name %>: </td>
      <td id="taxtotal2"><%= @invoice.tax2_amount %></td>
    </tr>
    <tr>
      <td colspan=4><%= f.label :discount, 'Discount % ' %></td>
      <td ><%= f.number_field :discount %></td>
    </tr>
    <tr>
      <td colspan=4>Amount Due: </td>
      <td id="amount_due" style="width: 1%"><%= @invoice.amount_due %></td>
    </tr>
  </table>
  <%= f.label :note %><br />
  <%= f.text_area :note %>

  <div class="actions">
    <p class="submit" style="margin-left:0"><%= submit_or_cancel(f) %></p>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Invoices.Form.init();
  });
</script>