<% if @is_pdf %>
  <div class="inv_header">
    <% if @invoice.company_logo.present? %>
      <div id="inv_logo">
        <%= image_tag @is_pdf ? @invoice.company_logo.path(:thumb) : @invoice.company_logo.url(:thumb) %>
      </div>
    <% end %>
    <div id="inv_title">
      <h1 style="text-transform:uppercase;"><%= t('invoice', default: 'invoice') %></h1>
    </div>
  </div>
<% else %>
  <h1 style="text-transform:uppercase;"><%= t('invoice', default: 'invoice') %>
    <% if @invoice.late_and_overdue? %>
      <span id="invoice-status" class="invoice late"><%= t('late', default: 'Late') %></span>
    <% else %>
      <span id="invoice-status" class="invoice <%= @invoice.status.parameterize %>"><%= @invoice.status %></span>
    <% end %>
  </h1>
<% end %>

<div style="width:50%; float:left;">
  <p>
    <b><%= t('invoice_id', default: 'ID') %>:</b>
    <%= @invoice.invoice_number %> 
  </p>

  <p>
    <b><%= t('issue_date', default: 'Issue Date') %>:</b>
    <%= @invoice.issued_date %>
  </p>

  <p>
    <b><%= t('due_date', default: 'Due Date') %>:</b>
    <%= @invoice.due_date %>
  </p>

  <% if @invoice.project.present? %>
  <p>
    <b><%= t('project', default: 'Project') %>:</b>
    <%= @invoice.project.title %>
  </p>
  <% end %>

  <% if user_signed_in? %>
    <% if !@invoice.paid? %>
    <p class='no-print'>
      <b><%= t('balance', default: 'Balance') %>:</b>
      <span id="invoice-balance"><%= @invoice.balance %> <%= @invoice.currency unless @invoice.currency.nil? %></span>
    </p>
    <% end %>
  <% end %>

  <p>
    <b><%= t('subject', default: 'Subject') %>:</b>
    <%= @invoice.subject %>
  </p>
</div>
