<h1>INVOICE
    <% if @invoice.late_and_overdue? %>
      <span id="invoice-status" class="invoice late">Late</span>
    <% else %>
      <span id="invoice-status" class="invoice <%= @invoice.status.parameterize %>"><%= @invoice.status %></span>
    <% end %>
</h1>

<p>
  <b>ID:</b>
  <%= @invoice.invoice_number %> 
</p>

<p>
  <b>Issue Date:</b>
  <%= @invoice.issued_date %>
</p>

<p>
  <b>Due Date:</b>
  <%= @invoice.due_date %>
</p>

<% if @invoice.project.present? %>
<p>
  <b>Project:</b>
  <%= @invoice.project.title %>
</p>
<% end %>

<% if user_signed_in? %>
  <% if !@invoice.paid? %>
  <p class='no-print'>
    <b>Balance:</b>
    <span id="invoice-balance"><%= @invoice.balance %> <%= @invoice.currency unless @invoice.currency.nil? %></span>
  </p>
  <% end %>
<% end %>

<p>
  <b>Subject:</b>
  <%= @invoice.subject %>
</p>