<h1>INVOICE <span id="invoice-status" class="invoice <%= @invoice.status.parameterize %>"><%= @invoice.status %></span></h1>

<p>
  <b>ID:</b>
  <%= @invoice.invoice_number %> 
</p>

<p>
  <b>Issue Date:</b>
  <%= @invoice.issued_date %>
</p>

<p>
  <b>Due Date:</b>
  <%= @invoice.due_date %>
</p>

<% if user_signed_in? %>
  <% if !@invoice.paid? %>
  <p class='no-print'>
    <b>Balance:</b>
    <span id="invoice-balance"><%= @invoice.balance %></span>
  </p>
  <% end %>

  <% unless @invoice.currency.nil? %>
  <p>
    <b>Currency:</b>
    <%= @invoice.currency %>
  </p>
  <% end %>
<% end %>

<p>
  <b>Subject:</b>
  <%= @invoice.subject %>
</p>