<p>
  <b>Invoice Number:</b>
  <%= @invoice.invoice_number %>
</p>

<p>
  <b>Issued date:</b>
  <%= @invoice.issued_date %>
</p>

<p>
  <b>Due date:</b>
  <%= @invoice.due_date %>
</p>

<p>
  <b>Subject:</b>
  <%= @invoice.subject %>
</p>

<% if !@invoice.paid? %>
<p>
  <b>Balance:</b>
  <span id="invoice-balance"><%= @invoice.balance %></span>
</p>
<% end %>

<p>
  <b>Currency:</b>
  <%= @invoice.currency %>
</p>