<div id="companies">
  <% if get_company_info(@invoice.user.profile).size > 0 %>
    <div class="company-info">
      From: <%= get_company_info @invoice.user.profile %>
    </div>
  <% end %>
<br />
  <div class="customer-info">
    To: <b><%= @invoice.customer.name %></b><br/>
    <%= @invoice.customer.address1 %><br />
    <% if @invoice.customer.address2.present? %><%= @invoice.customer.address2 %><br /><% end %>
    <%= @invoice.customer.city %> <%= @invoice.customer.province %> <%= @invoice.customer.postal_code %><br />
  </div>
</div>

<h1>INVOICE </h1>

<p>
  <b>Invoice Number:</b>
  <%= @invoice.invoice_number %>
</p>

<p>
  <b>Issued date:</b>
  <%= @invoice.issued_date %>
</p>

<p>
  <b>Due date:</b>
  <%= @invoice.due_date %>
</p>

<p>
  <b>Subject:</b>
  <%= @invoice.subject %>
</p>

<% if !@invoice.paid? %>
<p>
  <b>Balance:</b>
  <span id="invoice-balance"><%= @invoice.balance %></span>
</p>
<% end %>

<p>
  <b>Status:</b>
  <span id="invoice-status"><%= @invoice.status %></span>
</p>

<p>
  <b>Currency:</b>
  <%= @invoice.currency %>
</p>