<p>
  <b>ID:</b>
  <%= @invoice.invoice_number %>
</p>

<p>
  <b>Issue Date:</b>
  <%= @invoice.issued_date %>
</p>

<p>
  <b>Due Date:</b>
  <%= @invoice.due_date %>
</p>

<% if @invoice.project_id.present? %>
<p>
  <b>Project:</b>
  <%= @invoice.project.title %>
</p>
<% end -%>

<p>
  <b>Subject:</b>
  <%= @invoice.subject %>
</p>