<p>
  <b><%= t('invoice_id', default: 'ID') %>:</b>
  <%= @invoice.invoice_number %>
</p>

<p>
  <b>I<%= t('issue_date', default: 'Issue Date') %>:</b>
  <%= @invoice.issued_date %>
</p>

<p>
  <b><%= t('due_date', default: 'Due Date') %>:</b>
  <%= @invoice.due_date %>
</p>

<% if @invoice.project_id.present? %>
<p>
  <b><%= t('project', default: 'Project') %>:</b>
  <%= @invoice.project.title %>
</p>
<% end %>

<p>
  <b><%= t('subject', default: 'Subject') %>:</b>
  <%= @invoice.subject %>
</p>