<table class="activities">
  <tr>
    <th style='width:85px;'><%= sortable "invoice_number", { :controller => "invoices", :action => "index"} %></th>
    <th style='width:85px;'><%= sortable "due_date", { :controller => "invoices", :action => "index"} %></th>
    <th><%= sortable "subject", { :controller => "invoices", :action => "index"} %></th>
    <th><%= sortable "balance", { :controller => "invoices", :action => "index"} %></th>
    <th><%= sortable "status", { :controller => "invoices", :action => "index"} %></th>
    <th style='width:55px;'><%= sortable "customer", { :controller => "invoices", :action => "index"} %></th>
    <th style='width:60px;'></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= link_to "#{invoice.invoice_number}", invoice %></td>
    <td><%= invoice.due_date %></td>
    <td><%= truncate(invoice.subject, length: 40) %></td>
    <td><%= Money.from_float(invoice.balance, invoice.currency).format(:symbol => true) %></td>
    <td><span id="invoice-status-index" class="invoice <%= invoice.status.parameterize %>"><%= invoice.status %></span></td>
    <td><%= link_to invoice.customer.name, customer_path(invoice.customer) %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %>
        <%= link_to image_tag("bin.png"), invoice, :data => {:confirm => 'Are you sure?'}, :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class="right">
   <%= paginate @invoices, :params => { :controller => "invoices", :action => "index" } %>
</div>