<table>
  <tr>
    <th><%= sortable "invoice_number", { :controller => "invoices", :action => "index"} %></th>
    <th><%= sortable "due_date", { :controller => "invoices", :action => "index"} %></th>
    <th><%= sortable "subject", { :controller => "invoices", :action => "index"} %></th>
    <th><%= sortable "balance", { :controller => "invoices", :action => "index"} %></th>
    <th><%= sortable "status", { :controller => "invoices", :action => "index"} %></th>
    <th><%= sortable "customer", { :controller => "invoices", :action => "index"} %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= link_to "##{invoice.invoice_number}", invoice %></td>
    <td><%= invoice.due_date %></td>
    <td><%= invoice.subject %></td>
    <td><%= invoice.balance %></td>
    <td><%= invoice.status %></td>
    <td><%= invoice.customer.name %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %>
        <%= link_to image_tag("bin.png"), invoice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class="right">
   <%= paginate @invoices, :params => { :controller => "invoices", :action => "index" } %>
</div>