<table id="invoice_line_items" data-update-url="<%= sort_invoice_url(@invoice) %>">
  <tr>
    <th id="i_type">Type</th>
    <th id="i_description">Description</th>
    <th id="i_qty">Qty</th>
    <th id="i_price">Price</th>
    <th id="i_subtotal">Subtotal</th>
  </tr>
  <% if @invoice.line_items.any? %>
    <% @invoice.line_items.each do |line| %>
      <%= content_tag_for :tr, line do %>
        <td><%= line.line_type %></td>
        <td><%= line.description %></td>
        <td><%= line.quantity %></td>
        <td><%= number_to_currency(line.price) %></td>
        <td><%= number_to_currency(line.price * line.quantity) %></td>
      <% end %>
    <% end %>
    <!-- SUBTOTAL -->
    <% if @invoice.any_taxes? or @invoice.discount_amount > 0 %>
    <tr class="total-fields">
      <td colspan="3"></td>
      <td class="i_total">Subtotal</td>
      <td>
        <b><%= number_to_currency(@invoice.subtotal) %></b>
      </td>
    </tr>
    <% end %>
    <!-- TAX 1 -->
    <% if @invoice.tax1_amount > 0 %>
    <tr class="total-fields">
      <td colspan="3"></td>
      <td class="i_total"><%= @invoice.tax1_name %></td>
      <td>
        <b><%= number_to_currency(@invoice.tax1_amount) %></b>
      </td>
    </tr>
    <% end %>
    <!-- TAX 2 -->
    <% if @invoice.tax2_amount > 0 %>
    <tr class="total-fields">
      <td colspan="3"></td>
      <td class="i_total"><%= @invoice.tax2_name %></td>
      <td>
        <b><%= number_to_currency(@invoice.tax2_amount) %></b>
      </td>
    </tr>
    <% end %>
    <!-- DISCOUNT -->
    <% if @invoice.discount && @invoice.discount > 0 %>
      <tr class="total-fields">
        <td colspan="3"></td>
        <td class="i_total">Discount</td>
        <td><b><%= @invoice.discount %> %</b></td>
      </tr>
    <% end %>
    <tr class="total-fields">
      <td colspan="3"></td>
      <td class="i_total">Amount Due:</td>
      <td>
        <b><%= number_to_currency(@invoice.amount_due) %></b>
      </td>
    </tr>
  <% end %>
</table>