<table id="invoice_line_items" data-update-url="<%= sort_invoice_url(@invoice) %>">
  <tr>
    <th id="i_type">Type</th>
    <th id="i_description">Description</th>
    <th>Qty</th>
    <th>Price</th>
    <% if @invoice.any_taxes? %>
      <th>Subtotal</th>
      <th>Taxes</th>
    <% end %>
    <th>Amount</th>
  </tr>
  <% if @invoice.line_items.any? %>
    <% @invoice.line_items.each do |line| %>
      <%= content_tag_for :tr, line do %>
        <td><%= line.line_type %></td>
        <td><%= line.description %></td>
        <td><%= line.quantity %></td>
        <td><%= Money.from_float(line.price, @invoice.currency).format(:symbol => true) %></td>
        <% if @invoice.any_taxes? %>
          <td><%= Money.from_float(line.subtotal, @invoice.currency).format(:symbol => true) %></td>
          <td><%= Money.from_float(line.tax_amount, @invoice.currency).format(:symbol => true) %></td>
        <% end %>
        <td><%= Money.from_float(line.line_total, @invoice.currency).format(:symbol => true) %></td>
      <% end %>
    <% end %>
    <!-- SUBTOTAL -->
    <% if @invoice.any_taxes? or @invoice.discount_amount > 0 %>
    <tr class="total-fields">
      <td colspan="<%= @invoice.any_taxes? ? 5 : 3 %>"></td>
      <td class="align_right">Subtotal</td>
      <td>
        <b><%= Money.from_float(@invoice.subtotal, @invoice.currency).format(:symbol => true) %></b>
      </td>
    </tr>
    <% end %>
    <!-- TAX 1 -->
    <% if @invoice.tax1_amount > 0 %>
    <tr class="total-fields">
      <td colspan="<%= @invoice.any_taxes? ? 5 : 3 %>"></td>
      <td class="align_right"><%= @invoice.tax1_name %></td>
      <td>
        <b><%= Money.from_float(@invoice.tax1_amount, @invoice.currency).format(:symbol => true) %></b>
      </td>
    </tr>
    <% end %>
    <!-- TAX 2 -->
    <% if @invoice.tax2_amount > 0 %>
    <tr class="total-fields">
      <td colspan="<%= @invoice.any_taxes? ? 5 : 3 %>"></td>
      <td class="align_right"><%= @invoice.tax2_name %></td>
      <td>
        <b><%= Money.from_float(@invoice.tax2_amount, @invoice.currency).format(:symbol => true) %></b>
      </td>
    </tr>
    <% end %>
    <!-- DISCOUNT -->
    <% if @invoice.discount && @invoice.discount > 0 %>
      <tr class="total-fields">
        <td colspan="<%= @invoice.any_taxes? ? 5 : 3 %>"></td>
        <td class="align_right">Discount</td>
        <td><b><%= @invoice.discount %> %</b></td>
      </tr>
    <% end %>
    <tr class="total-fields">
      <td colspan="<%= @invoice.any_taxes? ? 5 : 3 %>"></td>
      <td class="align_right">Amount Due:</td>
      <td>
        <b><%= Money.from_float(@invoice.amount_due, @invoice.currency).format(:symbol => true) %></b>
      </td>
    </tr>
  <% end %>
</table>