<tr id="new_line_item_form" style="display: none;">
  <td>
    <%= f.select :line_type, options_for_select(['Product', 'Service', 'Hours']) %>
    <%= f.hidden_field :invoice_id, value: @invoice.id %>
  </td>
  <td><%= f.text_field :description %></td>
  <td><%= f.number_field :quantity, :min => 1 %></td>
  <td><%= f.number_field :price %></td>
  <% if @invoice.user.profile.any_taxes? %>
    <td colspan="<%= @invoice.user.profile.tax1.blank? || @invoice.user.profile.tax2.blank? ? 2 : 3 %>">
      <%= select_tag(:taxselect, options_for_select(@invoice.user.profile.tax_options)) %>
    </td>
  <% end %>
  <td></td>
  <td><%= f.submit 'Save' %></td>
</tr>