<%= form_for :send_invoice, :url => send_email_invoice_path(@invoice), :method => :post, :remote => :true do |f| %>
  <%= f.label :to, "Recipient" %>
  <%= f.text_field :to %><br />
  <%= f.label :subject %><br />
  <%= f.text_field :subject, :value => @subject %><br />
  <%= f.label :body, "Message" %> <br />
  <%= f.text_area :body, :value => @body %><br />
  <%= f.check_box :attach %>
  <%= f.label :attach, 'Attach PDF' %>

  <div class="status_indicator"></div>
  <%= f.submit "Send" %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#send_invoice_to").livequery(function() {
      $(this).tagsInput({
        autocomplete_url:'<%= customer_contacts_url(@invoice.customer) %>',
        width: "380px",
        height: "auto",
        defaultText: 'Type contact name'
      });
    });
  });
</script>