<ul id="sub-menu" class="no-print">
  <%= link_to 'â† All invoices', invoices_path %> |
  <%= link_to 'Edit', edit_invoice_path(@invoice) %> |
  <%= link_to 'Email Invoice', prepare_email_invoice_path(@invoice), :remote => true %> |
  <%= link_to 'Download PDF', shared_invoice_path(@invoice, :format => :pdf) %> | 
  <%= link_to 'Share', shared_invoice_path(@invoice) %>

  <li><%= link_to '+ New Payment', new_invoice_payment_path(@invoice), :class => 'buttonorange', :remote => true %></li>
  <li><%= link_to 'Show Payments', invoice_payments_path(@invoice), :class => 'buttonorange', :remote => true %></li>
</ul>