<ul id="sub-menu" class="no-print">
  <%= link_to 'â† All invoices', invoices_path %> |
  <%= link_to 'Show', @invoice %>
</ul>

<h1>Editing invoice <%= @invoice.invoice_number %></h1>

<div class="invoice <%= @invoice.status.gsub " ", "-" %>" id="invoice-content">
<%= render 'form' %>
</div>
