<% if current_user.customers.empty? %>
  <div class="no-occurence">
     <p>You need to create a <%= link_to 'Customer', new_customer_path %> first</p>
  </div>
<% elsif current_user.invoices.empty? %>
  <div class="no-occurence">
     <p>Create <%= link_to 'Invoice', new_invoice_path %></p>
  </div>
<% else %>

  <ul id="sub-menu">
    <li class="buttonorange"><%= link_to '+ New Invoice', new_invoice_path %></li>
  </ul>
  
  <%= content_tag(:p, ("You have " + (link_to pluralize(current_user.invoices.overdue.with_balance.size, 'invoice') + ' overdue', overdue_path, remote: true)).html_safe, :class => 'warning') if current_user.invoices.overdue.with_balance.any? %>
  
  <div id="invoices">
    <%= render 'invoices/invoices' %>
  </div>
<% end %>