<%= render 'shared_header' %>
<section id="main-content">
  <section id="content" role="main">
    <div id="invoice-page" class="invoice <%= @invoice.status.parameterize %>">
    
	  <div id="invoice-top">
			<div class="inv_header">
			  <% if @invoice.company_logo.present? %>
			    <% if @is_pdf %>
			      <div id="inv_logo" style="clear:both;">
	             <h1 style="line-height:100px;"><%= image_tag @invoice.company_logo.path(:thumb), style: "float:left;" %> <span style="float:right; text-transform:uppercase;"> <%= t('invoice', default: 'invoice') %></span></h1>
			      </div>
			    <% else %>
			      <div id="inv_logo" style="background: url('<%= @invoice.company_logo.url(:thumb) %>') no-repeat; background-position: center left;"></div>
			      <div id="inv_title">
				  	  <h1 style="text-transform:uppercase;"><%= t('invoice', default: 'invoice') %>
				    </div>
				  <% end %>
				<% end %>
			</div>

	    <div id="companies">
        <% if get_company_info(@invoice.user.profile).size > 0 %>
	        <div class="company-info">
	        	<span><%= t 'invoice_from', default: 'From' %></span>
	          <%= @invoice.header.present? ? markdown(@invoice.header) : (get_company_info @invoice.user.profile) %>
		      </div>
	      <% end %>
	      <div class="customer-info">
	      	<span><%= t 'invoice_from', default: 'From' %></span>
	        <%= get_customer_info @invoice.customer %>
	      </div>
	    </div>

        <%= render 'invoice_shared_header' %>
      </div>

	  <div id="line_items_list">
	    <%= render 'line_items_list' %>
	  </div>
      <%= render 'note' unless @invoice.note.empty? %>
    </div>
  </section>
</section>