<%= render "submenu" %>

<div id="invoice-page">

  <div id="companies">
    <% if get_company_info(@invoice.user.profile).size > 0 %>
	  <div class="company-info">
	    From: <%= get_company_info @invoice.user.profile %>
	  </div>
	<% end %>
	<br />
	<div class="customer-info">
	  To: <b><%= @invoice.customer.name %></b><br/>
	  <% if @invoice.customer.address1.present? %>
	    <%= @invoice.customer.address1 %><br />
	  <% else %>
		<%= link_to 'Edit info', edit_customer_path(@invoice.customer) %>
	  <% end %>
	  <% if @invoice.customer.address2.present? %><%= @invoice.customer.address2 %><br /><% end %>
	  <%= @invoice.customer.city %> <%= @invoice.customer.province %> <%= @invoice.customer.postal_code %><br />
	</div>
  </div>

  <%= render 'header' %>

  <div id="line_items_list"><%= render 'line_items_list' %></div>
  
  <%= render 'note' unless @invoice.note.empty? %>
  
</div>
