<%= render "submenu" %>

<div id="invoice-page" class="invoice <%= @invoice.status.gsub " ", "-" %>">

<div id="companies">
  <% if get_company_info(@invoice.user.profile).size > 0 %>
    <div class="company-info">
      <%= get_company_info @invoice.user.profile %>
    </div>
  <% end %>
<br />
  <div class="customer-info">
    <p>
	  To: <b><%= @invoice.customer.name %></b>
    </p>
  </div>
</div>

<h1>INVOICE </h1>

<p>
  <b>Invoice Number:</b>
  <%= @invoice.invoice_number %>
</p>

<p>
  <b>Issued date:</b>
  <%= @invoice.issued_date %>
</p>

<p>
  <b>Due date:</b>
  <%= @invoice.due_date %>
</p>

<p>
  <b>Subject:</b>
  <%= @invoice.subject %>
</p>

<p>
  <b>Balance:</b>
  <span id="invoice-balance"><%= @invoice.balance %></span>
</p>

<p>
  <b>Status:</b>
  <span id="invoice-status"><%= @invoice.status %></span>
</p>

<p>
  <b>Currency:</b>
  <%= @invoice.currency %>
</p>

<p>
  <b>Discount:</b>
  <%= @invoice.discount %> %
</p>


<div id="line_items_list"><%= render 'line_items_list' %></div>

</div>

<div class="no-print">
  <%= link_to 'Add Line Item', add_line_item_invoice_path(@invoice), onclick: "$('#new_line_item_form').toggle(); return false;" %>
</div>

<% if @invoice.note.present? %>
<p>
  <b>Note:</b>
  <%= @invoice.note %>
</p>
<% end %>