<h1>Manage Users</h1>

<table id="clients-summary" class="activities">
  <tr>
    <th></th>
    <th>Total</th>
    <th>Today</th>
    <th>This Week</th>
    <th>This Month</th>
  </tr>

  <tr>
    <td>Users signup</td>
    <td><b><%= User.standard.size %></b></td>
    <td><%= total_users_created(Date.today) %></td>
    <td><%= total_users_created(1.week.ago.to_date) %></td>
    <td><%= total_users_created(1.month.ago.to_date) %></td>
  </tr>
</table>
<br/>
<p class="right">Server Time: <b><%= Time.zone.now %></b></p>

<table id="clients" class="admin">
  <tr>
    <th><%= sortable "email" %></th>
    <th><%= sortable "first_name" %></th>
    <th><%= sortable "last_name" %></th>
    <th>Sign in count</th>
    <th>Last Sign in</th>
    <th>Current IP</th>
    <th><%= sortable "created_at" %></th>
    <th><%= sortable "updated_at" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td style="text-align:center"><%= user.sign_in_count %></td>
    <td><%= user.last_sign_in_at %></td>
    <td><%= user.current_sign_in_ip %></td>
    <td><%= user.created_at.strftime("%d-%m-%y %H:%M") %></td>
    <td><%= user.updated_at.strftime("%d-%m-%y %H:%M") %></td>
  </tr>
<% end %>
</table>