<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="column_left">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 60 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :province %><br />
    <%= collection_select(:customer, :province, Province.all, :name, :name, options = {:prompt => ""}) %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, :size => 6 %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= collection_select(:customer, :country, Country.all, :printable_name, :printable_name, options = {:prompt => ""}) %>
  </div>
</div>
<div id="column_right">
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

