<ul id="sub-menu">
	<%= link_to 'â† All Customers', customers_path %> | 
	<%= link_to 'Edit', edit_customer_path %> | 
    <%= link_to 'Destroy', @customer, :confirm => 'Are you sure?', :method => :delete %>
	<li><%= link_to '+ New Customer', new_customer_path, :class => 'buttonorange' %></li>    
	<li><%= link_to "+ New Project for #{@customer.name}", new_customer_project_path(@customer), :class => 'buttonorange' %></li>    
</ul>