<% if @user.customers.empty? %>
  <div class="no-occurence">
     <p>Add a new <%= link_to 'Customer', new_customer_path %></p>
  </div>
<% else %>

<h1>Listing customers</h1>


<% @customers.each do |customer| %>
  <div class="occurence">
	<h1><%= link_to customer.name, customer %></h1>
	<p>
	  <b>Phone:</b>
	  <%= customer.phone %>
	</p>
    <p><%= link_to 'Show', customer %> | 
       <%= link_to 'Edit', edit_customer_path(customer) %> | 
       <%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></p>
  </div>
<% end %>

<br />

<p class ="clear"><%= link_to 'New Customer', new_customer_path %></p>

<% end %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$(".occurence").click(function(){
	  window.location=$(this).find("a").attr("href"); return false;
	});
});
</script>