<% if @user.customers.empty? %>
  <div class="no-occurence">
     <p>Add a new <%= link_to 'Customer', new_customer_path %></p>
  </div>
<% else %>

<h1>Listing customers</h1>


<% @customers.each do |customer| %>
  <div class="occurence">
	<h1><%= link_to customer.name, customer %></h1>
	<p>
	  <b>Phone:</b>
	  <%= customer.phone %>
	</p>
	<% if customer.projects.any? %>
	   <p><%= pluralize(customer.projects.count, "project") %></p>
	<% end %>
  </div>
<% end %>

<br />

<p class ="clear"><%= link_to 'New Customer', new_customer_path %></p>

<a href="#" id="modal_link">Open modal window</a>

<% end %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$(".occurence").click(function(){
	  window.location=$(this).find("a").attr("href"); return false;
	});
});
</script>

<script>
$(document).ready(function() {
		var $dialog = $('<div></div>')
			.html('This dialog will show every time!')
			.dialog({
				autoOpen: false,
				title: 'Basic Dialog',
				modal: true,
				resizable: false,
				minWidth: 400,
				buttons: {
						 Ok: function() {
						 $dialog.dialog('close');
								}
						}
			});
 
		$('#modal_link').click(function() {
			$dialog.dialog('open');
			// prevent the default action, e.g., following a link
			return false;
		});
	});
</script>