<% if @user.customers.empty? %>
  <div class="no-occurence">
     <p>Add a new <%= link_to 'Customer', new_customer_path %></p>
  </div>
<% else %>

<ul id="sub-menu">
	<li class="buttonorange"><%= link_to '+ New Customer', new_customer_path %></li>
</ul>

<div id="customers">
<% @customers.each do |customer| %>
  	<ul id="card-entries">
	  <li id="card">
	    <div class="card-inner customer">
	      <h1><%= link_to customer.name, customer %></h1>
	        <p>
	          <b>Phone:</b> <%= customer.phone %>
	        </p>
	        <p class="tagline">
	        <% if customer.projects.any? && customer.contacts.any? %>
	          <%= pluralize(customer.projects.count, "project") + ' | ' + pluralize(customer.contacts.count, "contact") %>
	        <% elsif customer.projects.empty? && customer.contacts.any? %>
	          <%= pluralize(customer.contacts.count, "contact") %>
	        <% elsif customer.projects.any? && customer.projects.empty? %>
	          <%= pluralize(customer.projects.count, "project") %>
	        <% end %>
	        </p>
        </div>
      </li>
    </ul>
<% end %>
</div>

<br />

<% end %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$(".card-inner").click(function(){
	  window.location=$(this).find("a").attr("href"); return false;
	});
});
</script>