<div id="customer-info">
 <h1><%= @customer.name %></h1>

 <div id="column_left">
	  <% if @customer.note.present? %>
		 <p><%= @customer.note %></p>
	  <% else %>
	     <p><%= link_to "Add a Note", edit_customer_path(@customer) %></p>
	  <% end %>

	<br/>
	 <%= link_to 'All Customers', customers_path %> |
	 <%= link_to 'Edit', edit_customer_path %> |
	 <%= link_to 'Destroy', @customer, :confirm => 'Are you sure?', :method => :delete %> |
	 <%= link_to 'Create Project', new_customer_project_path(@customer) %>
 </div>

 <div id="column_right">
  	<p>
	  <label class="label">Phone:</label>
	  <%= @customer.phone %><br/>
	</p>

	<p>
	  <label class="label">Address:</label>
	    <% if !@customer.address2.present? %>
	      <%= @customer.address1 %><br/>
	    <% else %> 
		  <%= @customer.address1 %><br />
		  <span class="indent_line"><%= @customer.address2 %></span><br />
	    <% end %>
	  <span class="indent_line"><%= @customer.city %> <%= @customer.province %> <%= @customer.postal_code %><br/></span>
	  <span class="indent_line"><%= @customer.country %></span>
	</p>
 </div>
</div>

<div id="contacts">
	<%= render :partial => 'contacts/contacts' %>
</div>