<%= render :partial => 'submenu' %>

<div id="customer-info">
  <div class="title">
    <h1><%= @customer.name %></h1>
  </div>

<div id="meta">
  <div id="column_left">
  	<p>
	  <label class="label">Phone:</label>
	  <span><%= @customer.phone %></span><br/>
	</p>
	<p>
	  <label class="label">Address:</label>
	    <% if !@customer.address2.present? %>
	      <%= @customer.address1 %><br/>
	    <% else %> 
		  <%= @customer.address1 %><br />
		  <span class="indent_line"><%= @customer.address2 %></span><br />
	    <% end %>
	  <span class="indent_line"><%= @customer.city %> <%= @customer.province %> <%= @customer.postal_code %><br/></span>
	  <span class="indent_line"><%= @customer.country %></span>
	</p>
	<p>
	  <label class="label">Website:</label>
	  <%= link_to @customer.website, @customer.website unless @customer.website.blank? %>
	</p>
  </div>

  <div id="column_right">
	<% if @customer.note.present? %>
	   <p><%= markdown(@customer.note) %></p>
	<% else %>
	   <%= render :partial => 'note' %>
	<% end %>
	
  </div>
</div>
</div>

<div id="contacts">
	<%= render :partial => 'contacts/contacts' %>
</div>