<div id="column_left">
<h1><%= @customer.name %></h1>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Address:</b>
    <% if !@customer.address2.present? %>
      <%= @customer.address1 %><br/>
    <% else %> 
	  <%= @customer.address1 %><br />
	  <%= @customer.address2 %><br />
    <% end %>
  <%= @customer.city %> <%= @customer.province %> <%= @customer.postal_code %><br/>
  <%= @customer.country %>
</p>

<div id="customer_note">
  <% if @customer.note.present? %>
	 <%= @customer.note %>
</div>
	 <p id="note_toggle"><a href="#">Show/Hide Note</a></p>
  <% else %>
     <p><%= link_to "Add a Note", edit_customer_path(@customer) %></p>
  <% end %>

<br/>
 <%= link_to 'Edit', edit_customer_path %> |
 <%= link_to 'All Customers', customers_path %>
</div>
</div>

<div id="column_right">
  <%= render :partial => 'contacts/contacts' %>
</div>

<script>
    $("#note_toggle").click(function () {
      $("#customer_note").slideToggle("slow");
    });
</script>