<%= form_for([@customer, @contact]) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="inline-form">
  <div class="field">
    <%= f.label :first_name, :class => 'mandatory' %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <p class="submit"><%= submit_or_cancel(f) %></p>
  </div>
<% end %>
</div>