<h1>Listing contacts</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Title</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.title %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.email %></td>
    <td><%= contact.customer_id %></td>
    <td><%= link_to 'Show', customer_contact_path(@customer, contact) %></td>
    <td><%= link_to 'Edit', edit_customer_contact_path(@customer, contact) %></td>
    <td><%= link_to 'Destroy', contact, :data => {:confirm => 'Are you sure?'}, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_customer_contact_path(@customer) %>
