<div id="closed-projects">
	<h1>Closed projects</h1>

	<table>
		<tr>
			<th>Title</th>
			<th>Status</th>
			<th>Manager</th>
			<th>User</th>
			<th>Customer</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% @closed_projects.each do |project| %>
		<tr>
			<td><%= project.title %></td>
			<td><%= project.project_status.name %></td>
			<td><%= project.manager %></td>
			<td><%= project.user_id %></td>
			<td><%= project.customer.name %></td>
			<td><%= link_to 'Show', project %></td>
			<td><%= link_to 'Edit', edit_project_path(project) %></td>
			<td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<% end %>
	</table>
<%= paginate @closed_projects, :params => { :action => "closed" } %>
</div>