<div id="closed-projects">
	<h1>Closed Projects
	  <a href="#" id="hide_closed" onclick="$('#closed-projects').hide('slow'); $('#show_closed').show();"> Hide</a>
	</h1>

	<table class='activities'>
		<tr>
			<th>Title</th>
			<th>Customer</th>
			<th></th>
			
		</tr>

		<% @closed_projects.each do |project| %>
		<tr>
			<td class="project_name"><%= link_to project.title, project %></td>
			<td class="project_customer"><%= project.customer_id.present? ? project.customer.name : 'Internal' %></td>
			<td><%= link_to 'Edit', edit_project_path(project) %> 
			    <%= link_to image_tag("bin.png"), project, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
		<% end %>
	</table>
<%= paginate @closed_projects, :params => { :action => "closed" } %>
</div>

