<p id="budget">
  <% if !@project.internal? %>
    <p>
      <label class="label-wide">Billing Method:</label>
      <%= @project.billing_code_id.present? ? @project.billing_code.name : link_to('Edit', edit_project_path(@project)) %> <br />
    </p>
    <p>
      <label class="label-wide">Budget:</label>
      <%= show_budget %> <br />
    </p>
    <p>
      <label class="label-wide"><%= 'Billable Amount:' unless @project.fixed? %></label>
      <%= show_billable_amount %> <br />
    </p>
    <p>
      <label class="label-wide">
        <%= @project.hourly? ? "Hours Left:" : "Days Left:" unless (@project.fixed? or @project.billing_code_id.nil?) %>
      </label>
      <%= show_unit_left unless @project.fixed? %>
    </p>
    <p>
      <label class="label-wide">Invoiced to date (before tax):</label>
      <%= number_to_currency(@project.invoices.to_a.sum(&:subtotal)) %>
    </p>
  <% end %>
</p>