<%= form_for(@project, :html => {:id => "project-form"}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="inline-form">
  <div class="field">
    <%= f.label :title, :class => 'mandatory' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :internal, 'Internal?', :for => "internal" %>
    <%= f.check_box :internal, :id => 'internal' %> <i id="internal-notice" style="display:none;">Internal projects are not billable</i>
  </div>
  <div id="billing">
	<div class="field">
	  <%= f.label :customer_id, :class => 'mandatory' %>
        <% if @project.persisted? || @project.customer.blank?  %>
	      <%# Hide the customer field if it's a new project but already has the customer set up. %>
	      <%= collection_select(:project, :customer_id, current_user.customers.all, :id, :name, options = {:prompt => "Select Customer"} ) %>
	      or <%= link_to "Create Customer", new_customer_path, :remote => true %>
	    <% else %>
	      <%= @project.customer.name %> <%= clear %></p>
	      <%= f.hidden_field :customer_id, :value => @project.customer.id %>
	    <% end %>
	</div>
	<div class="field">
	  <%= f.label :billing_code_id, 'Billing Method' %>
	  <%= collection_select(:project, :billing_code_id, BillingCode.all, :id, :name, options = {:prompt => "Select Billing method"} ) %><br />
	</div>
	
	<div id="billing-scenario">
	  <span id="hourly">
	    Total hours allowed:<br />
	    <%= f.text_field :total_unit, :id => "hourly_total_unit", :class => 'short' %> Hours at a rate of 
	    <%= f.text_field :default_rate, :id => "hourly_default_rate", :class => 'short' %><%= number_to_currency("") %>
	  </span>
		
	  <span id="per_diem">
		Total days allowed:<br />
		<%= f.text_field :total_unit, :id => "per_diem_total_unit", :class => 'short' %> Days at a rate of 
		<%= f.text_field :default_rate, :id => "per_diem_default_rate", :class => 'short' %><%= number_to_currency("") %>
	    <% if current_user.profile.hours_per_day.nil? %>
	      <span id="hours-per-day-notice">Update your <%= link_to 'settings', settings_path %> to convert Hours Worked to Days</span>
		<% end %>
	  </span>
		
	  <span id="fixed">
	    Fixed price: <%= f.text_field :default_rate, :id => "fixed_default_rate", :class => 'medium' %> <%= number_to_currency("") %>
	  </span>
    </div>  <%# billing-scenario %>
  </div>  <%# billing %>
  
  <% if !@project.new_record? %>
    <div class="field">
	  <%= f.label :status %>
	  <%= f.select(:status, options_for_select([['Open', true], ['Closed', false]])) %>
	</div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <span class="markdown"><a href="http://getprojectlog.com/help/knowledgebase/markdown/?src=app" target="_blank">Markdown accepted</a></span><br/>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <p class="submit"><%= submit_or_cancel(f) %></p>
  </div>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
    Projects.Form.init();
</script>