<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="inline-form">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => '100' %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :cols => '88', :rows => '6' %>
  </div>
  <% if !@project.new_record? %>
  	  <div class="field">
	    <%= f.label :status_id %>
	    <%= collection_select(:project, :project_status_id, ProjectStatus.all, :id, :name, options = {:prompt => "Select Status"} ) %>
	  </div>
  <% end %>
  <div class="field">
    <%= f.label :customer_id %>
    <%= collection_select(:project, :customer_id, current_user.customers.all, :id, :name, options = {:prompt => "Select Customer"} ) %>
  </div>
  <div class="field">
    <%= f.label :default_rate, 'Hourly Rate' %>
    <%= f.text_field :default_rate, :size => '8' %>
  </div>
  <div class="field">
    <%= f.label :billing_code_id %>
    <%= collection_select(:project, :billing_code_id, BillingCode.all, :id, :name, options = {:prompt => "Select Billing Method"} ) %>
  </div>
  <div class="actions">
    <p class="submit"><%= submit_or_cancel(f) %></p>
  </div>
<% end %>
</div>