<%= form_for(@project, :remote => true, :html => {:id => "project-form"}) do |f| %>

<div class="inline-form">
  <div class="field">
    <%= f.label :title, :class => 'mandatory' %>
    <%= f.text_field :title, :style => 'width:auto;' %>
  </div>

  <div class="field">
    <%= f.label :internal, 'Internal?', :for => 'internal' %>
    <%= f.check_box :internal, :id => 'internal' %> <i id="internal-notice" style="display:none;">Internal projects are not billable</i>
  </div>

  <div id="billing">
	<div class="field">
	  <%= f.label :customer_id, :class => 'mandatory' %>
        <% if @project.persisted? || @project.customer.blank?  %>
	      <%# Hide the customer field if it's a new project but already has the customer set up. %>
	      <%= collection_select(:project, :customer_id, current_user.customers.all, :id, :name, options = { :prompt => "Select Customer" } ) %>
	      <%= link_to "Add a Customer", new_customer_path, :remote => true %>
	    <% else %>
	     <%= @project.customer.name %> <%= clear %></p>
	     <%= f.hidden_field :customer_id, :value => @project.customer.id %>
	    <% end %>
	</div>
	
	<div class="field">
	  <%= f.label :billing_code_id, 'Billing Method' %>
	  <%= collection_select(:project, :billing_code_id, BillingCode.all, :id, :name, options = {:prompt => "Select Billing method"} ) %><br />
	</div>
	
	<div id="billing-scenario">
	  <span id="hourly">
	    Total hours allowed for this project: <%= f.text_field :total_unit, :id => "hourly_total_unit", :size => '8' %> at a rate of <%= f.text_field :default_rate, :id => "hourly_default_rate", :size => '8' %><%= number_to_currency("") %>
	  </span>
		
	  <span id="per_diem">
		Total days allowed <%= f.text_field :total_unit, :id => "per_diem_total_unit", :size => '6' %> at a rate of <%= f.text_field :default_rate, :id => "per_diem_default_rate", :size => '6' %><%= number_to_currency("") %>
	    <% if current_user.profile.hours_per_day.nil? %>
	      <span id="hours-per-day-notice">Hours by Day not set. Update your <%= link_to 'settings', settings_path %> to convert Activities to Days</span>
		<% end %>
	  </span>
		
	  <span id="fixed">Fixed price: <%= f.text_field :default_rate, :id => "fixed_default_rate", :size => '8' %><%= number_to_currency("") %></span>
    </div>  <%# billing-scenario %>
  </div>  <%# billing %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Projects.Form.init(true);
  });
</script>