<ul id="sub-menu">
  <%= link_to 'â† All Transactions', transactions_path %>
</ul>

<h1>All Transactions for <%= @project.title %>
  <% if @periods.size > 1 %>
  <div class='floatr'>
    <%= select_tag 'fiscal_year', options_for_select(@periods, @fiscal_year), "data-url" => expenses_project_url(@project) %>
  </div>
  <% end %>
</h1>

<% if @transactions.any? %>  
  <div id="pl_summary">
    <div class='card-inner'>
	  <span id="total_income">Total Incomes: <span id="curr_income"><%= number_to_currency(Transaction.total_incomes(@transactions)) %></span></span>
	  <span id="total_expense">Total Expenses: <span id="curr_expense"><%= number_to_currency(Transaction.total_expenses(@transactions)) %></span></span>
    </div>
  </div>	 
  
  <% @transactions.group_by{|t| t.date.strftime "%Y %b" }.each do |date_str,transactions| %>
    <h2 class="date_period">
      <%= date_str %>
      <span class="total_right">
  	  Inc.: <span id="curr_income"><%= number_to_currency(Transaction.total_incomes(transactions)) %></span> | 
  	  Exp.: <span id="curr_expense"><%= number_to_currency(Transaction.total_expenses(transactions)) %></span>
  	</span>
    </h2>
    <ul>
    <% transactions.each do |transaction| %>
      <li class="transactions_list">
        <span id="t_date"><%= l transaction.date, :format => :short %></span>
	    <span id="t_type"><% if transaction.expense? %><span class="t_expense">Exp.</span><% else %><span class="t_income">Inc.</span> <% end %></span>
        <span id="t_amount"><%= number_to_currency(transaction.total) %></span>
        <div id="t_note_long"><%= truncate(transaction.note, :length => 70) %></div>
	    <div id="t_category"><%= link_to transaction.category.name, expenses_category_path(transaction.category) unless transaction.category.nil? %></div>
	  </li>
    <% end %>
    </ul>
  <% end %>
  
<% else %>
  <p class="no-occurence">No Transaction in fiscal year (<%= @fiscal_year %>)</p>
<% end %>
<script type="text/javascript" charset="utf-8">
  $(function() {
    Transactions.MonthlyReport.init();
  });
</script>