<% if current_user.projects.empty? %>
  <div class="no-occurence">
     <p>Add a new <%= link_to 'Project', new_project_path %></p>
  </div>
<% else %>

   <% if @open_projects.empty? %>
     <div class="no-occurence">
        <p>No Open Projects</p>
     </div>
   <% else %>
     <h1>Open projects</h1>
     <div id="open-projects">
       <% @open_projects.each do |project| %>
          <div class='occurence'>
	        <h1><%= link_to project.title, project %></h1>
	        <p><%= project.customer.name %></p>
          </div>
     </div>
   <% end %>
   <div class="clear">
     <%= paginate @open_projects %>   
   </div>
<% end %>

<p class="clear"><%= link_to 'New Project', new_project_path %></p>

<% if !@closed_projects.empty? %>
   <p id="closed_projects_toggle">
	 <a href="#">Show/Hide Closed Projects</a></p>
   <%= render :partial => 'projects/closed' %>
<% end %>
<% end %>

<script>
$("#closed_projects_toggle").click(function () {
  $("#closed-projects").slideToggle("slow");
});
</script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$(".occurence").click(function(){
	  window.location=$(this).find("a").attr("href"); return false;
	});
});
</script>