<div id="column_left">
	<p>
	<h1>
	   <%= @project.title %>
	</h1></p>
	<p>
	   <b>Description:</b>
	   <%= @project.description %>
	</p>
	<%= link_to 'All Projects', projects_path %> |
    <%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete %>
</div>
<div id="column_right">
	<p>
	   <b>Status:</b>
	   <%= @project.project_status.name %>
	</p>
	<p>
	   <b>Customer:</b>
	   <%= @project.customer.name %>
	</p>
	<p>
	   <b>Default rate:</b>
       <%= number_to_currency(@project.default_rate) unless @current_user.profile.localization.present? %>
	</p>
	<p>
	   <b>Billing Method:</b>
	   <% if @project.billing_code_id.present? %>
	      <%= @project.billing_code.name %>
	   <% end %>
	</p>
</div>

<div id="activities">
  <%= render "activities/activities" %>
</div>
