<%= render :partial => 'submenu' %>

<div id="project-title">
   <h1><%= @project.title %>
     <% if @project.internal? %><span class="status internal">INTERNAL</span> <% end %>
     <% if @project.status? %>
       <span class="status open">OPEN</span>
     <% else %>
       <span class="status closed">CLOSED</span> 
     <% end %>
   </h1>
</div>

<div id="meta">
<% if @project.internal? %>
  <% if @project.description.blank? %>
	  <%= render :partial => 'description' %>
  <% else %>
    <div id="project_description">
	   Description: <%= markdown(@project.description) %>
	</div>
  <% end %>
<% else %>
  <div class="column_left">
    <% if @project.description.blank? %>
	  <%= render :partial => 'description' %>
	<% else %>
	  <%= markdown(@project.description) %>
    <% end %>
  </div>

  <div class="column_right">
    <%= render :partial => 'column_right' %>
  </div>
<% end %>
</div>

<%= clear %>

<div id="activities">
  <%= render :partial => "activities/activities" %>
</div>