<div id="column_left">
	<p>
	   <b>Title:</b>
	   <%= @project.title %>
	</p>
	<p>
	   <b>Description:</b>
	   <%= @project.description %>
	</p>
	
    <%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Back', projects_path %>
</div>
<div id="column_right">
	<p>
	   <b>Status:</b>
	   <%= @project.project_status.name %>
	</p>
	<p>
	   <b>Customer:</b>
	   <%= @project.customer.name %>
	</p>
	<p>
	   <b>Default rate:</b>
       <%= @project.default_rate %>
	</p>
	<p>
	   <b>Billing Method:</b>
	   <%= @project.billing_code.name %>
	</p>
</div>
<div id="activities">
	<%= render :partial => 'activities/activities' %>
</div>