<div id="column_left">
	<p>
	<h1>
	   <%= @project.title %>
	</h1></p>
	<p>
	   <b>Description:</b>
	   <%= @project.description %>
	</p>
	<%= link_to 'All Projects', projects_path %> |
    <%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete %>
</div>
<div id="column_right">
	<p>
	   <label class="label-wide">Status:</label>
	   <%= @project.project_status.name %>
	</p>
	<p>
	   <label class="label-wide">Customer:</label>
	   <%= @project.customer.name %>
	</p>
	<p>
	   <label class="label-wide">Default Rate:</label>
       <% if @current_user.profile.localization.present? %>
	      <%= number_to_currency(@project.default_rate) %>
	   <% else %>
	      <%= @project.default_rate %>
	    <% end %>
	   <br/>
	</p>
	<p>
	   <label class="label-wide">Billing:</label>
	   <% if @project.billing_code_id.present? %>
	      <%= @project.billing_code.name %>
	   <% end %>
	</p>
</div>

<div id="activities">
  <%= render "activities/activities" %>
</div>
