<%= render :partial => 'submenu' %>

<div id="project-title">
   <h1><%= @project.title %>
     <% if @project.internal? %><span class="status internal">INTERNAL</span> <% end %>
     <% if @project.status? %>
       <span class="status open">OPEN</span>
     <% else %>
       <span class="status closed">CLOSED</span> 
     <% end %>
   </h1>
</div>

<div id="meta">

<% if @project.internal? %>
  <% if @project.description.blank? %>
	<%= render :partial => 'description' %>
  <% else %>
    <div id="project_description">
	   Description: <%= markdown(@project.description) %>
	</div>
  <% end %>
<% else %>
	  <div id="column_left">
		<% if @project.description.blank? %>
			<%= render :partial => 'description' %>
		<% else %>
	      <div id="project_description">
		    </span><%= markdown(@project.description) %>
	      </div>
	    <% end %>
	  </div>
	
	<div id="column_right">
	   <p>
		<label class="label-wide">Customer:</label>
	      <%= @project.customer.name %>
	   </p>
	   <p>
	  <% if !@project.internal? %>
	    <label class="label-wide">Default Rate:</label> <br/>
	      <%= number_to_currency(@project.default_rate) unless @project.default_rate.empty? %>
	   </p>
	   <p>
	     <label class="label-wide">Billing:</label> <br />
	       <%= @project.billing_code.name unless !@project.billing_code_id.present? %>
	   </p>
	  <% end %>
	   <p>
		 <label class="label-wide">Created:</label>
	       <%= l @project.created_at.to_date, :format => :long %>
	   </p>	
	</div>
<% end %>
</div>

<div id="activities">
  <%= render :partial => "activities/activities" %>
</div>