<ul id="sub-menu">
	<li class="buttonorange"><%= link_to 'New Plan', new_administr8te_plan_path %></li>
</ul>

<h1>User Plans</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Features</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plans.each do |plan| %>
  <tr>
    <td><%= plan.name %></td>
    <td><%= plan.features %></td>
    <td><%= plan.description %></td>
    <td><%= plan.price %></td>
    <td><%= plan.active? ? 'Active' : 'Inactive' %></td>
    <td><%= link_to 'Show', administr8te_plan_path(plan) %></td>
    <td><%= link_to 'Edit', edit_administr8te_plan_path(plan) %></td>
    <td><%= link_to 'Destroy', administr8te_plan_path(plan), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
