<ul id="sub-menu">
		<%= link_to 'â† All Plans', administr8te_plans_path %> | 
		<%= link_to 'Edit', edit_administr8te_plan_path(@administr8te_plan) %>
	<li class="buttonorange"><%= link_to 'New Plan', new_administr8te_plan_path %></li>
</ul>

<p>
  <b>Name:</b>
  <%= @plan.name %>
</p>

<p>
  <b>Features:</b>
  <%= markdown(@plan.features) %>
</p>

<p>
  <b>Description:</b>
  <%= @plan.description %>
</p>

<p>
  <b>Price:</b>
  <%= @plan.price %>
</p>

<p>
  <b>Status:</b>
  <%= @plan.active? ? 'Active' : 'Inactive' %>
</p>