<h1>Payment History</h1>
<% if current_user.current_subscription %>
  <% if current_user.subscription_transactions.blank? and !current_user.current_subscription.cancelled? %>
    <p>You will find your billing history here as soon as we hear back from our payment gateway. It may take a few hours but this is normal.</p>
  <% else %>
    <table>
    <% current_user.subscription_transactions.order('created_at DESC').each do |transaction| %>
      <tr>
        <td><%= transaction.created_at.strftime("%B %d, %Y") %></td>
        <td>Transaction #<%= transaction.code %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td><%= link_to "Printable Receipt (PDF)", receipt_subscription_payment_path(current_user.current_subscription, transaction.code, format: 'pdf') %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
<% end %>

<h2>Your current plan: <%= current_user.plan.name %></h2>
<% if current_user.current_subscription %>
  <% if current_user.current_subscription.cancelled? %>
    <h2>You've cancelled your subscription. You can continue to use the <%= current_user.current_subscription.plan.name %> plan until it expires on <%= current_user.current_subscription.modify_on.strftime("%B %d, %Y") %>.</h2>
    <p><%= link_to 'Reactivate', modify_subscriptions_path, :class => 'buttonorange' %></p>
  <% else %>
    <h2>Next payment will be processed on <%= current_user.current_subscription.next_payment_due.strftime("%B %d, %Y") %>.</h2>
    <p><%= link_to 'Edit Subscription & Payment Method', edit_subscription_path(current_user.current_subscription), :class => 'buttonorange' %></p>
  <% end %>
<% else %>
  <p><%= link_to 'Upgrade', new_subscription_path, :class => 'buttonorange' %></p>
<% end %>