<%= image_tag("195.png") %>
<h2>Projectlog Subscription Receipt</h2>

<p>Here is the invoice for your Projectlog subscription. Paid in full up to date. No payment is due.</p><br />

<p><b>Date:</b> <%= @transaction.created_at.strftime("%d-%m-%Y %H:%M") %></p>
<p><b>Transaction Number:</b> <%= @transaction.code %></p>
<p><b>Plan:</b> <%= @transaction.subscription.plan.name %></p>
<p><b>Amount charged:</b> $<%= @transaction.amount %> (USD)</p>
<p><b>Company:</b> <%= @transaction.user.profile.company %></p>
<p><b>Name:</b> <%= @transaction.user.full_name %></p>
<p><b>Card Type:</b> <%= @transaction.subscription.card_type %></p>

<br />
<%= simple_format(Settings.defaults['subscription_receipt_signature']) %>