<div id="image">
  <%= image_tag('check.png') %>
</div>

<div id="receipt">
  <p>Date <%= @transaction.created_at %></p>
  <p>Date <%= @transaction.created_at %></p>
  <p>Date <%= @transaction.created_at %></p>
  <p>Date <%= @transaction.created_at %></p>
</div>