<p class="right info" style='font-size: 13px;'>
  <b><%= pluralize(@recently_online_users.count, 'user') %></b> connected within the last 5 minutes ||
  Server Time: <b><%= Time.zone.now %></b>
</p>

<h1>Site Stats</h1>

<table id="clients-summary" class="activities">
  <tr>
    <th></th>
    <th>Total</th>
    <th>Today</th>
    <th>This Week</th>
    <th>This Month</th>
  </tr>
  <tr>
    <td>Users signup</td>
    <td><b><%= User.standard.size %></b></td>
    <td><%= total_users_created(Date.today) %></td>
    <td><%= total_users_created(1.week.ago.to_date) %></td>
    <td><%= total_users_created(1.month.ago.to_date) %></td>
  </tr>
  <tr>
    <td>Cancellations</td>
    <td><b></b></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Users with Free plan</td>
    <td><b><%= User.standard.with_free_plan.size %></b> (<%= User.standard.with_free_plan.size / User.standard.size * 100 %>%)</td>
    <td><%= total_users_with_free_plan_created(Date.today) %></td>
    <td><%= total_users_with_free_plan_created(1.week.ago.to_date) %></td>
    <td><%= total_users_with_free_plan_created(1.month.ago.to_date) %></td>
  </tr>
  <tr>
    <td>Users with Paid plan</td>
    <td><b><%= User.standard.with_paid_plan.size %></b>
        <% if User.standard.with_paid_plan.any? %>
          (<%= number_to_percentage(User.standard.with_paid_plan.size / User.standard.size, :precision => 2) %>)
        <% end %>
    </td>
    <td><%= total_users_with_paid_plan_created(Date.today) %></td>
    <td><%= total_users_with_paid_plan_created(1.week.ago.to_date) %></td>
    <td><%= total_users_with_paid_plan_created(1.month.ago.to_date) %></td>
  </tr>
</table>

<%= render :partial => 'revenues' %>

<%= render :partial => 'user_chart' %>

<table class="activities">
  <tr>
    <th></th>
    <th>Free plan</th>
    <th>Paid plan</th>
  </tr>
  <tr>
    <td>Active Users 
        <span class="tipsied grayed_out" title="Last Sign In within the last 2 months">
        <%= image_tag("info_icon.png", {:border=>0, :size => '12x12'}) %></span>
    </td>
    <td><%= User.active.with_free_plan.size %></td>
    <td><%= User.active.with_paid_plan.size %></td>
  </tr>
  <tr>
    <td>Average Projects per User</td>
    <td><%= average_data_per_user(:projects) %></td>
    <td></td>
  </tr>
  <tr>
    <td>CHURN (cancellations/users)</td>
    <td>Total cancellations / Total users %</td>
    <td>Total cancellations / Total users %</td>
  </tr>
  <tr>
    <td>Subscriptions Average Time</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Lifetime Value</td>
    <td></td>
    <td></td>
  </tr>