<%= form_for([@invoice, @payment], :remote => true) do |f| %>
  <% if @refresh %>
    <input type="hidden" name="update_payments" value="yes" />
  <% end %>
  <div class="inline-form">
    <div class="field">
      <%= f.label :amount, :class =>'mandatory' %>
      <%= f.text_field :amount, :class => "date" %>
    </div>
    <div class="field">
      <%= f.label :date, :class => 'mandatory' %>
      <%= f.text_field :date, :class => "date" %>
    </div>
  </div>
<% end %>  