<table>
  <tr>
    <th></th>
    <th>Amount</th>
    <th>Date</th>
    <th></th>
  </tr>
<% @payments.each do |payment| %>
  <tr>
    <td></td>
    <td>
      <%= number_to_currency(payment.amount) %>
    </td>
    <td>
      <%= payment.date %>
    </td>
    <td>
      <%= link_to 'Edit', edit_invoice_payment_path(@invoice, payment), :remote => true %> 
      <%= link_to image_tag("bin.png"), [@invoice, payment], :confirm => 'Are you sure?', :method => :delete, :remote => true %>
    </td>
  </tr>
<% end %>
  <tr class="payments_total">
    <td>Total:</td>
    <td><%= number_to_currency(@total.round 2) %></td>
    <td colspan="2"></td>
  </tr>
  <tr class="payments_balance">
    <td>Balance:</td>
    <td><%= number_to_currency(@invoice.balance) %></td>
    <td colspan="2"><%= link_to 'Add Payment', "#{new_invoice_payment_path(@invoice)}?update_payments=yes", :remote => true %></td>
  </tr>
</table>