<p style="font-size:20px; color:#333; font-weight:bold; padding-bottom:0;">Hi <%= @invoice.user.first_name %>,</p>

<p style="font-size:14px; color:#333; padding-bottom:0;">This is a reminder that you have unpaid invoices.</p>

<p style="font-size:14px; color:#333; padding-bottom:0;"><%= @invoice.invoice_number %> <%= @invoice.subject %> due on <%= l @invoice.due_date %></p>

<p style="font-size:14px; color:#333; padding-bottom:0;">Looks like you need to follow-up with <%= @invoice.customer.name %>. If already Paid, please update payments to keep records in sync.</p>

<br />

<p>All the Best,</p>

<p style="margin-bottom:0; padding-bottom:0;">The Crew at Projectlog</p>