<% if @category.transactions.any? %>
  <h1>All Transactions in <%= @category.name %></h1>
  <div id="pl_summary">
    <div class='card-inner'>
	  <span id="total_income">Total Incomes: <span id="curr_income"><%= number_to_currency(@category.total_incomes) %></span></span>
	  <span id="total_expense">Total Expenses: <span id="curr_expense"><%= number_to_currency(@category.total_expenses) %></span></span>
    </div>
  </div>	 
  
  <% @transactions.group_by{|t| t.date.strftime "%Y %b" }.each do |date_str,transactions| %>
    <h2 class="date_period"><%= date_str %></h2>
    <ul>
    <% transactions.each do |transaction| %>
      <li class="transactions_list">
        <span id="t_date"><%= l transaction.date, :format => :short %></span>
	    <span id="t_type"><% if transaction.expense? %><span class="t_expense">Expense</span><% else %><span class="t_income">Income</span> <% end %></span>
        <span id="t_amount"><%= number_to_currency(transaction.total) %></span>
        <div id="t_note"><%= transaction.note %></div>
	    <div id="t_project"><%= link_to transaction.project.title, expenses_project_path(transaction.project) unless transaction.project.nil? %></div>
		<div id="t_receipt"><%= image_tag('attachment.gif') unless transaction.receipt.nil? %></div>
	  </li>
    <% end %>
    </ul>
  <% end %>
  
<% else %>
  <p class="no-occurence">No Transaction in this Category</p>
<% end %>