<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Welcome to Projectlog</title>
	<style>
	a:hover {
		text-decoration: underline !important;
	}
	td.promocell p { 
		color:#e1d8c1;
		font-size:16px;
		line-height:26px;
		font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
		margin-top:0;
		margin-bottom:0;
		padding-top:0;
		padding-bottom:14px;
		font-weight:normal;
	}
	td.contentblock h4 {
		color:#444444 !important;
		font-size:16px;
		line-height:24px;
		font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
		margin-top:0;
		margin-bottom:10px;
		padding-top:0;
		padding-bottom:0;
		font-weight:normal;
	}
	td.contentblock h4 a {
		color:#444444;
		text-decoration:none;
	}
	td.contentblock p, ul { 
	  	color:#888888;
		font-size:13px;
		line-height:19px;
		font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
		margin-top:0;
		margin-bottom:12px;
		padding-top:0;
		padding-bottom:0;
		font-weight:normal;
	}
	td.contentblock p a, ul a { 
	  	color:#3ca7dd;
		text-decoration:none;
	}
	@media only screen and (max-device-width: 480px) {
	     div[class="header"] {
	          font-size: 16px !important;
	     }
	     table[class="table"], td[class="cell"] {
	          width: 300px !important;
	     }
		table[class="promotable"], td[class="promocell"] {
	          width: 325px !important;
	     }
		td[class="footershow"] {
	          width: 300px !important;
	     }
		table[class="hide"], img[class="hide"], td[class="hide"] {
	          display: none !important;
	     }
	     img[class="divider"] {
		      height: 1px !important;
		 }
		 td[class="logocell"] {
			padding-top: 15px !important; 
			padding-left: 15px !important;
			width: 300px !important;
		 }
	     img[id="screenshot"] {
	          width: 325px !important;
	          height: 127px !important;
	     }
		img[class="galleryimage"] {
			  width: 53px !important;
	          height: 53px !important;
		}
		p[class="reminder"] {
			font-size: 11px !important;
		}
		h4[class="secondary"] {
			line-height: 22px !important;
			margin-bottom: 15px !important;
			font-size: 18px !important;
		}
	}
	</style>
</head>
<body bgcolor="#e4e4e4" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#e4e4e4;-webkit-text-size-adjust:none;">
	
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#e4e4e4">
<tr>
	<td bgcolor="#e4e4e4" width="100%">

	<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
	<tr>
		<td width="600" class="cell">
		
	   	<table width="600" cellpadding="0" cellspacing="0" border="0" class="table">
		<tr>
			<td width="250" bgcolor="#e4e4e4" class="logocell"><img border="0" src="assets/mailer/welcome/spacer.gif" width="1" height="20" class="hide"><br class="hide"><img src="http://getprojectlog.com/assets/images/logo-mailer.png" width="178" height="76" alt="Projectlog" style="-ms-interpolation-mode:bicubic;"><br><img border="0" src="http://getprojectlog.com/assets/images/spacer.gif" width="1" height="10" class="hide"><br class="hide"></td>
		</tr>
		</table>
	
		<table width="600" cellpadding="25" cellspacing="0" border="0" class="promotable">
		<tr>
			<td bgcolor="#456265" width="600" class="promocell">
			  <multiline label="Main feature intro">
				<p style="font-size:20px; color:#e1d8c1; font-weight:bold; padding-bottom:0;">Projectlog Payment Receipt</p>
			  </multiline>
			</td>
		</tr>
		</table>
		<br>
	
		<repeater>
			<layout label="New feature">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td bgcolor="#85bdad" nowrap><img border="0" src="http://getprojectlog.com/assets/images/spacer.gif" width="5" height="1"></td>
				<td width="100%" bgcolor="#ffffff">
			
					<table width="100%" cellpadding="20" cellspacing="0" border="0">
					<tr>
						<td bgcolor="#ffffff" class="contentblock">

							<multiline label="Description">
							  <p>Here is the invoice for your Projectlog subscription. Paid in full up to date. No payment is due.</p>

                                <p><b>Date:</b> <%= @transaction.created_at.strftime("%d-%m-%Y %H:%M") %></p>
                                <p><b>Transaction Number:</b> <%= @transaction.code %></p>
                                <p><b>Plan:</b> <%= @transaction.subscription.plan.name %></p>
                                <p><b>Amount charged:</b> $<%= @transaction.amount %> (USD)</p>
                                <p><b>Company:</b> <%= @transaction.user.profile.company %></p>
                                <p><b>Name:</b> <%= @transaction.user.full_name %></p>
                                <p><b>Card Type:</b> <!%= @transaction.card_type %></p>
							</multiline>

						</td>
					</tr>
					</table>
			
				</td>
			</tr>
			</table>  
			<img border="0" src="images/spacer.gif" width="1" height="15" class="divider"><br>
			</layout>
			<layout label="Article, tip or resource">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td bgcolor="#ef3101" nowrap><img border="0" src="http://getprojectlog.com/assets/images/spacer.gif" width="5" height="1"></td>
				<td width="100%" bgcolor="#ffffff">
			
					<table width="100%" cellpadding="20" cellspacing="0" border="0">
					<tr>
						<td bgcolor="#ffffff" class="contentblock">

							<multiline label="Description">
                              <%= simple_format(Settings.defaults['subscription_receipt_signature']) %>
							</multiline>

						</td>
					</tr>
					</table>
				</td>
			</tr>
					<img border="0" src="http://getprojectlog.com/assets/images/spacer.gif" width="1" height="5"><br>
				</td>
			</tr>
			</table>  
			<img border="0" src="images/spacer.gif" width="1" height="15" class="divider"><br>
			</layout>					
	  </repeater>        		
		</td>
	</tr>
	</table>
</body>
</html>