<%= form_for(current_user.transactions.new, :method => :post, :remote => true) do |f| %>
<%= hidden_field_tag :tax1, current_user.profile.try(:tax1) || 0,  :id => "tax1_rate" %>
<%= hidden_field_tag :tax2, current_user.profile.try(:tax2) || 0, :id => "tax2_rate" %>
<%= hidden_field_tag :compound, current_user.profile.try(:compound) || false, :id => "compound" %>

<table class='borders'>
  <tr>
    <th id="t.date" style="">Date</th>
    <th id="t.amount" style="width: 100px;">Total</th>
    <th id="t.note">Description</th>
    <th></th>
  </tr>
  <tr class="transaction-fields row-one">
    <td><%= f.text_field :date, :class => "date", :tabindex => 1 %></td>
    <td><%= f.number_field :total, :class => "numbers", :id => "total", :tabindex => 2 %></td>
    <td><%= f.text_field :note, data: {autocomplete_source: find_by_note_transactions_path}, :tabindex => 3 %></td>
    <td><span class="small submit"><%= f.submit 'Create', :name => @transactions.empty? ? "quick" : nil, "data-disable-with" => 'Create' %></span></td>
  </tr>
  <tr class="transaction-fields">
	<td style="vertical-align:top;"><%= f.radio_button(:expense, true) %> Expense<br> <%= f.radio_button(:expense, false) %> Income</td>
	<% if current_user.profile.any_taxes? %>
  	<td style="vertical-align:top; word-wrap: break-word; width: 100px;">
	  <% unless current_user.profile.tax1.blank? %>
	    <%= current_user.profile.tax1_name(false) %><br><%= f.text_field :tax1, :class => "numbers", :id => "tax1" %><br>
	  <% end %>
	  <% unless current_user.profile.tax2.blank? %>
  	    <%= current_user.profile.tax2_name(false) %><br><%= f.text_field :tax2, :class => "numbers", :id => "tax2" %>
	  <% end %>
  	</td>
	<% end %>
	<td style="vertical-align:top;" colspan="<%= current_user.profile.any_taxes? ? '1' : '2' %>">Category<br><%= f.text_field :category_name, data: {autocomplete_source: categories_path}, :tabindex => 4 %><br>
		Project<br><%= collection_select(:transaction, :project_id, current_user.projects.order('title ASC'), :id, :title_and_client, {:prompt => true, :class => 'transaction_project'}, :tabindex => 5) %>
	</td>
	<td></td>
  </tr>
</table>

<% end %>