<div id="transaction_toggle_search_form" class="floatl">
  <%= link_to "Show/Hide Advanced Search", "#", :id => "toggle_search_form" %>
</div>
<div id="transactions-search" class="floatr">	
  <span id="export" class="right">
    <%= form_tag transactions_path, :method => 'get', :id => "transactions_search" do %>
  	  <%= hidden_field_tag :direction, params[:direction] %>
  	  <%= hidden_field_tag :sort, params[:sort] %>
  	  <%= text_field_tag :search, params[:search] %>
	  <span class="small submit"><%= submit_tag "Search", :name => nil %></span>
	<% end %>
 </span>
</div>
<%= clear %>
<div id="transactions-advanced-search" style="display: none;" class="info">
  <h2>Advanced Search</h2>
  <%= form_tag "", :method => :get do %>
    <%= hidden_field_tag :form, "advanced" %>
    <p>Show transactions for <%= select_tag :category_id, options_for_select([["All Categories", ""]] + current_user.categories.map {|c| [c.name, c.id]}, params[:category_id]), :id => "quick_search_category_id" %>
    from <%= text_field_tag :start_date, params[:start_date], :size => 12, :class => "date" %>
    to <%= text_field_tag :end_date, params[:end_date], :size => 12, :class => "date" %>  
    <span class="submit"><%= submit_tag "Search", disable_with: 'Searching...', :name => nil %></span>
    <%= image_tag("indicator.gif", :class => "loading", :style => "display: none") %>  
  <% end %>
</div>

