<% if @transactions.empty? %>
  <% if searching?(params) %>
    <%= render "table_header" %>
    <div class="no-occurence">
      <p>No transactions <%= humanize_search_params(params) %></p>
    </div>
  <% end %>
<% else %>
  <h1><%= searching?(params) ? "Listing transactions #{humanize_search_params(params)}" : "Transactions" %></h1>
  <%= render "table_header" %>
  <table class="activities">
	<tr>
	  <th style='width:35px;'><%= sortable "expense", { :remote => true } %></th>
	  <th style='width:60px;'><%= sortable "date", { :remote => true } %></th>
	  <th style='width:84px;'><%= sortable "total", { :remote => true } %></th>
	  <th><%= sortable "note", {:remote => true } %></th>
	  <th><%= sortable "project_id", {:remote => true } %></th>
	  <th><%= sortable "category_id", {:remote => true } %></th>
	  <th style='width:55px;'></th>
	</tr>

	<% @transactions.each do |transaction| %>
	<tr id="row_for_transaction_<%= transaction.id %>">
	  <td><%= transaction.expense? ? content_tag(:span, 'Exp.', :class => 'expense') : content_tag(:span, 'Inc.', :class => 'income') %></td>
	  <td><%= l transaction.date, :format => :short %></td>
	  <td><%= number_to_currency(transaction.total) %></td>
	  <td><%= link_to truncate(transaction.note, :length => 34), transaction %></td>
	  <td><%= link_to transaction.project.title, expenses_project_path(transaction.project) unless transaction.project.nil? %></td>
	  <td><%= link_to transaction.category.name, expenses_category_path(transaction.category) unless transaction.category.nil? %></td>
	  <td><%= link_to 'Edit', edit_transaction_path(transaction) %>
		  <%= link_to image_tag("bin.png"), transaction, :confirm => 'Are you sure?', :method => :delete %>
	  </td>
	</tr>
	<% end %>
  </table>

  <div class="right">
    <%= paginate @transactions, :remote => true, :params => { controller: "transactions", action: "index", transaction_id: @transaction_id } %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  Transactions.Index.init();
</script>