<%= render "submenu" %>

<div class="receipt_top"></div>
<div class="receipt_mid">
  <p>
    <b>Date:</b>
  	<%= l @transaction.date %> <span class="type"><%= @transaction.expense? ? "EXPENSE" : "INCOME" %></span>
  </p>
  <p>
    <b>Description:</b>
  	<%= @transaction.note %>
  </p>
  <% if @transaction.subtotal != @transaction.total %>
  <p>
    <b>Subtotal:</b>
    <%= number_to_currency(@transaction.subtotal) %>
  </p>
  <% end %>
  <% if (@transaction.try(:tax1) || 0) > 0 %>
  <p>
    <b>Tax 1:</b>
  	<%= number_to_currency(@transaction.tax1) %>
  </p>
  <% end %>

  <% if (@transaction.try(:tax2) || 0) > 0 %>
  <p>
    <b>Tax 2:</b>
  	<%= number_to_currency(@transaction.tax2) %>
  </p>
  <% end %>

  <p>
    <b>Total:</b>
  	<%= number_to_currency(@transaction.total) %>
  </p>
  <p>
    <b>Category:</b>
    <%= link_to @transaction.category.name, expenses_category_path(@transaction.category) unless @transaction.category_id.nil? %>
  </p>
  <p>
    <b>Project:</b>
  	<%= link_to @transaction.project.title, expenses_project_path(@transaction.project) unless @transaction.project.nil? %>
  </p>
  <% if @transaction.receipt.present? %>
  <p>
    <b>Receipt:</b>
  	<%= @transaction.receipt %>
  </p>
  <% end %>
</div>
<div class="receipt_bot"></div>