<% if @activities.empty? %>
  <div class="no-occurence">
     <p>Add a new <%= link_to 'Activity', new_project_activity_path(@project) %></p>
  </div>
<% else %>
<br/>

<div id="time-entries">
  <h2>Time Entries</h2>
    <p><%= link_to 'Create Report', reports_path %></p> 
	<table>
	  <tr>
	    <th><%= sortable "date" %></th>
	    <th><%= sortable "time" %></th>
	    <th><%= sortable "description" %></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @activities.each do |activity| %>
	  <tr>
	    <td class="date"><%= l activity.date %></td>
	    <td class="time"><%= activity.time %></td>
	    <td class="description"><%= activity.description %></td>
	    <td class="actions"><%= link_to 'Edit', edit_project_activity_path(@project, activity) %></td>
	    <td class="actions"><%= link_to 'Destroy', project_activity_path(@project, activity), :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	
	  <tr class="total">
	    <th style="text-align:right" class="total">TOTAL</th>
	    <th><%= @activities.sum(:time) %></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</table>
		
</div>

<p id="new_activity_link"><%= link_to 'New Activity', new_project_activity_path(@project) %> | 
	<%= link_to 'New activity AJAX', new_project_activity_path(@project, :format => :js), :remote => true %>
</p>

<% end %>