<div id="time-entries">
  
<% if @activities.empty? %>
  <div class="no-occurence">
    <p>
    <% if params[:search] %>
      No activity matches '<%= params[:search] %>'.
    <% else %>
      Add a new <%= link_to 'Activity', new_project_activity_path(@project) %>
    <% end %>
    </p>
  </div>
<% else %>

  <% if @activities.present? || params[:search].present? %>
    <h2>Activities</h2>
	<div id="activity-search">	
	   <%= link_to 'New Activity', new_project_activity_path(@project, :format => :js), :remote => true %> |
	   <%= link_to 'Create Report', new_report_path %> 
	 <span id="export" class="right">
       <%= form_tag project_activities_path(@project), :method => 'get', :id => "activities_search" do %>
        
         <%= hidden_field_tag :direction, params[:direction] %>
         <%= hidden_field_tag :sort, params[:sort] %>
         <%= text_field_tag :search, params[:search] %>
         <span class="small submit"><%= submit_tag "Search", :name => nil %></span>
        </span>
    </div>
   <% end %>
<% end %>

  <table class='activities'>
    <tr>
      <th><%= sortable "date", { :controller => "activities", :action => "index", :project_id => @project.id } %></th>
      <th><%= sortable "time", { :controller => "activities", :action => "index", :project_id => @project.id } %></th>
      <th><%= sortable "description", { :controller => "activities", :action => "index", :project_id => @project.id } %></th>
      <th></th>
    </tr>

    <% @activities.each do |activity| %>
      <% content_tag :tr, :id => "row_for_activity_#{activity.id}" do %>
        <%= render activity %>
      <% end %>
    <% end %>

    <tr class="total">
      <th style="text-align:right" class="total">TOTAL</th>
      <th id="project_total_time"><%= number_with_delimiter(@project.activities.sum(:time)) %></th>
      <th class="total_in_days">[<%= activities_to_days(@project.activities.sum(:time)) %>]</th>
      <th></th>
    </tr>
  </table>

  <div class="right">
     <%= paginate @activities, :params => { :controller => "activities", :action => "index", :project_id => @project.id } %>
  </div>  

  <% end %>
</div>