<td class="date"><%= l activity.date, format: :short %></td>
<td class="time"><%= number_with_delimiter(activity.time) %></td>
<td class="description"><%= activity.description %></td>

<td class="actions"><%= link_to 'Edit', edit_project_activity_path(activity.project, activity), remote: true %> <%= link_to image_tag("bin.png"), project_activity_path(activity.project, activity), data: {confirm: 'Are you sure?'}, method: :delete, remote: true %></td>


