<%= form_for(current_user.activities.new, :url => quick_create_activities_path, :method => :post, :remote => true) do |f| %>

<div class="alert">Andrés, can you please add JS calendar for date field and fix the bug. I want to post AJAX notification and render form again</div>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Project</th>
    <th>Description</th>
    <th></th>
  </tr>
  <tr>
    <td><%= f.date_select :date %></td>
    <td><%= f.text_field :time, :size => 4 %></td>
    <td><%= collection_select(nil, :project_id, current_user.projects.open.all, :id, :title, {:prompt => "Select Project"} ) %></td>
    <td><%= f.text_field :description, :size => 65 %></td>
    <td><%= f.submit 'Log it' %></td>
  </tr>
</table>

<% end %>

<img src="images/buttons.png"></img>

<p class="blue">Blue Button</p>

<p class="green">Download</p>

<p class="blue2">Download</p>

<a href="#" class="largebuttonorange">Download</a>