<div id="recent-activities">

<% if current_user.activities.any? %>
<h1>Recent Activities</h1>

 <table class='activities'>
   <% current_user.activities.order("created_at DESC").limit(5).each do |activity| %>     
     <%= content_tag :tr, :id => "row_for_activity_#{activity.id}" do %>
        
       <td class="date"><%= l activity.date, :format => :short %></td>
	   <td class="time"><%= number_with_delimiter(activity.time) %></td>
	   <td class="description"><%= activity.description %></td>
	   <td class="project"><%= link_to activity.project.title, project_path(activity.project) %></td>

	   <td class="actions"><%= link_to 'Edit', edit_project_activity_path(activity.project, activity), :remote => true %> 
	   <%= link_to image_tag("bin.png"), project_activity_path(activity.project, activity), :confirm => 'Are you sure?', :method => :delete, :remote => current_page?(root_path) %></td>
		
     <% end %>
   <% end %>
 </table>
</div>

<% end %>