<h2>Activities</h2>
<div id="activity-search">	
	<span class="new_activity_link"><%= link_to 'New Activity', new_project_activity_path(@project, :format => :js), :remote => true %> |</span>
	<%= link_to 'Create Report', new_report_path %> 
	<span id="export" class="right">
		<%= form_tag project_activities_path(@project), :method => 'get', :id => "activities_search" do %>
  		<%= hidden_field_tag :direction, params[:direction] %>
  		<%= hidden_field_tag :sort, params[:sort] %>
  		<%= text_field_tag :search, params[:search] %>
		  <span class="small submit"><%= submit_tag "Search", :name => nil %></span>
		<% end %>
	</span>
</div>
