<% if @activity.valid? %>

  <% if @report %>
    $("#row_for_activity_<%= @activity.id %>").html("<%= escape_javascript render(:partial => "reports/activity", :object => @activity) %>");  
    // Update total time for reports
    $("#report_total_time").html("<%= escape_javascript number_with_delimiter(@report.total_hours) %>");
    $("#report_total_in_days").html("<%= escape_javascript activities_to_days(@report.total_hours) %>");
  <% else %>
    $("#row_for_activity_<%= @activity.id %>").html("<%= escape_javascript render(@activity) %>");
    // Update total time for project
    $("#project_total_time").html("<%= escape_javascript number_with_delimiter(@project.total_hours) %>");
    $("#project_total_in_days").html("<%= escape_javascript activities_to_days(@project.total_hours) %>");
  <% end %>
  
<% else %>
  $('<div id="activity-error"></div>')
		.html('<div class="alert">Please fix the following errors: <%= escape_javascript @activity.errors.full_messages.to_sentence %></div>')
		.dialog({
			autoOpen: true,
			buttons: { 'OK' : function(){ $(this).dialog("close"); } },
			modal: true,
			show: "fade",
			hide: "fade",
    });
<% end %>