<div id="activities">  
  
  <% if @activities.empty? %>
  <div class="no-occurence">
    <p>No Activities found.</p>
  </div>
  <% else %>
        <div id="activity-search">
	       <%= form_tag report_path(@report), :method => "get", :remote => true, :id => "activities_search" do %>
           <%= hidden_field_tag :direction, params[:direction] %>
           <%= hidden_field_tag :sort, params[:sort] %>
           <%= text_field_tag :search, params[:search] %>
           <%= submit_tag "Filter", :name => nil %>
	       <div id="export" class="right">
	         <%= link_to "Export this table to CSV", params.merge(:format => :csv, :action => "shared") %> | 
	         <%= link_to 'Email Report', new_report_email_path(@report), :remote => true %> |
	         <%= link_to "Download PDF", params.merge(:format => :pdf, :action => "shared") %> 
	      </div>
        </div>
     <% end %>
   
  <table class='activities'>
    <tr>
      <th><%= sortable "date" %></th>
      <th><%= sortable "time" %></th>
      <th><%= sortable "description" %></th>
      <th><%= sortable "project_id", { }, "Project" %></th>
      <th></th>
    </tr>

    <% @activities.each do |activity| %>
    <tr>
      <td class="date"><%= l activity.date, :format => :short %></td>
      <td class="time"><%= number_with_delimiter(activity.time) %></td>
      <td class="description"><%= activity.description %></td>
      <td class="project"><%= activity.project.title %></td>      
      <td class="actions"><%= link_to 'Edit', edit_project_activity_path(activity.project, activity), :remote => true %> <%= link_to image_tag("bin.png"), project_activity_path(activity.project, activity), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>

    <tr class="total">
      <th class="total right">TOTAL</th>
      <th><%= number_with_delimiter(@report.total_time) %></th>
      <th class="total_in_days">[<%= activities_in_days(@report.total_time) %>]</th>
      <th></th>
      <th></th>
    </tr>
  </table>

  <div class="right">
    <%= paginate @activities %>
  </div>
  
<% end %>
</div>