<div id="quick_search">
  <h2>Quick search</h2>
  <%= form_tag search_reports_path, :method => "get", :remote => true do %>
    <p>Show hours for <%= report_project_select :project_id, current_user.projects.all, :selected => params[:project_id], :id => "quick_search_project_id" %> during 
    <%= last_months_select :start_date, :selected => params[:start_date], :id => "quick_search_start_date" %></p>
    
    <p class="submit"><%= submit_tag "Create Report" %></p>
  <% end %>  
</div>

<div id="advanced_search" style="display: none">
  <h2>Advanced search</h2>
  <%= form_tag search_reports_path, :method => "get", :remote => true do %>
 
 <p>Show hours for <%= report_project_select :project_id, current_user.projects.all, :selected => params[:project_id], :id => "advanced_search_project_id" %>
   from <%= text_field_tag :start_date, params[:start_date], :size => 12, :class => "date" %>
   to <%= text_field_tag :end_date, params[:end_date], :size => 12, :class => "date" %></p>
  
  <p class="submit"><%= submit_tag 'Create Report' %></p>
  <% end %>
</div>

<%= link_to "Show/Hide Advanced Search", "#", :id => "toggle_search_form" %>