<% if @report.errors.any? %>
  <div id="error_explanation" class="alert">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

    <ul>
    <% @report.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="quick_search">
  <h2>Quick Search</h2>
  <%= form_for @report, :url => reports_path, :html => { :method => :post, :id => "new_quick_report" } do |f| %>
    <p>Show hours for <%= f.collection_select :project_id, current_user.projects.all, :id, :title, :include_blank => "All Projects", :id => "quick_search_project_id" %> during 
    <%= last_months_select :"report[start_date]", :selected => @report.start_date, :id => "quick_search_start_date" %> <span class="submit"><%= f.submit "Create Report" %></span></p>
    
    
  <% end %>  
</div>

<div id="advanced_search" style="display: none">
  <h2>Advanced Search</h2>
  <%= form_for @report, :url => reports_path, :html => { :method => :post, :id => "new_advanced_report" } do |f| %>

 <p>Show hours for <%= f.collection_select :project_id, current_user.projects.all, :id, :title, :include_blank => "All Projects", :id => "advanced_search_project_id" %>
   from <%= f.text_field :start_date, :size => 12, :class => "date" %>
   to <%= f.text_field :end_date, :size => 12, :class => "date" %>
  <span class="submit"><%= f.submit 'Create Report' %></span>
 </p>
  <% end %>
</div>

<%= link_to "Show/Hide Advanced Search", "#", :id => "toggle_search_form" %>

<% if current_user.reports.any? %>
  <h4>Recent reports</h4>
  <ul id="recent-reports">
  <% current_user.reports.order("created_at DESC").limit(5).each do |report| %>
    <li><%= link_to report.description, report %> <span id="report-age"><%= time_ago_in_words(report.created_at) %> ago</span></li>
  <% end %>
  </ul>
<% end %>