<% if @report.errors.any? %>
  <div id="error_explanation" class="alert">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being generated:</h2>

    <ul>
    <% @report.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="quick_search">
  <h2>Quick Search</h2>
  <%= form_for @report, :url => reports_path, :html => { :method => :post, :id => "new_quick_report" } do |f| %>
    <p>Show hours for <%= f.collection_select :project_id, current_user.projects.all, :id, :title, :include_blank => "All Projects", :id => "quick_search_project_id" %> during 
    <%= last_months_select :"report[start_date]", :selected => @report.start_date, :id => "quick_search_start_date" %>
    <%= f.hidden_field :end_date, :value => (@report.start_date || Date.today.beginning_of_month) + 1.month - 1.second, :id => "quick_search_end_date" %>
    <span class="submit"><%= f.submit "Create Report", disable_with: 'Please wait...' %></span>
    <%= image_tag("indicator.gif", :class => "loading", :style => "display: none") %>
    </p>
  <% end %>  
</div>

<div id="advanced_search" style="display: none">
  <h2>Advanced Search</h2>
  <%= form_for @report, :url => reports_path(:form => "advanced"), :html => { :method => :post, :id => "new_advanced_report" } do |f| %>

 <p>Show hours for <%= f.collection_select :project_id, current_user.projects.all, :id, :title, :include_blank => "All Projects", :id => "advanced_search_project_id" %>
   from <%= f.text_field :start_date, :size => 12, :class => "date" %>
   to <%= f.text_field :end_date, :size => 12, :class => "date" %>
   <span class="submit"><%= f.submit 'Create Report', disable_with: 'Please wait...' %></span>
   <%= image_tag("indicator.gif", :class => "loading", :style => "display: none") %>  
 </p>
  <% end %>
</div>

<%= link_to "Show/Hide Advanced Search", "#", :id => "toggle_search_form" %>

<% if current_user.reports.any? %>
  <h4>Recent reports</h4>
  <ul id="recent-reports">
  <% current_user.reports.order("created_at DESC").limit(5).each do |report| %>
    <li><%= link_to report.description, report %>
	<% if report.approved? %><span class="approved">Approved</span><% end %>
	</li>
  <% end %>
  </ul>
<% end %>