<% if @activities.empty? %>
  <div class="no-occurence">
    <p>No activity matches your search criteria.</p>
  </div>
<% else %>   
  <table class='activities'>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
      <th>Project</th>
    </tr>

    <% @activities.each do |activity| %>
    <tr>
      <td class="date"><%= l activity.date, format: :short %></td>
      <td class="time"><%= activity.time %></td>
      <td class="description"><%= activity.description %></td>
      <td class="project"><%= activity.project.title %></td>
    </tr>
    <% end %>

    <tr class="total">
      <th class="total right">TOTAL</th>
      <th><%= number_with_delimiter(@report.total_time) %></th>
      <th></th>
      <th></th>
    </tr>
  </table>
  
<% end %>