<head>
	<title>Timesheet</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <style media="all">
       <%= render :file => "#{Rails.root}/public/shared.css.scss" %>
     </style>
</head>

<div id="activities">  
  <h1>Timesheet</h1>  

  <% if @activities.empty? %>
  <div class="no-occurence">
    <p>
      No activity matches your search criteria.
    </p>
  </div>
  <% else %>
  
  <p id='period'><%= @report.user.full_name %>'s hours from <%= l @report.start_date, :format => :long %> to <%= l @report.end_date, :format => :long %></p>
  <p>Project: <b><%= @report.project_title %></b></p>
  <% if params[:search] %>
  <p>Search terms: <b><%= params[:search] %></b></p>
  <% end %>
  <br/>

  <table>
    <tr id="header">
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
    </tr>

    <% @activities.each do |activity| %>
    <tr>
      <td class="date"><%= l activity.date, :format => :short %></td>
      <td class="time"><%= activity.time %></td>
      <td class="description"><%= activity.description %></td>      
    </tr>
    <% end %>

    <tr id="total">
      <th class="sum">TOTAL</th>
      <th><%= @report.total_time %></th>
      <th></th>
    </tr>
  </table>
  <% end %>
</div>