<head>
	<title>Timesheet</title>
<style>
  @media print {
   table {
	border-spacing: 0px;
	width: 100%;
	text-align: left;
	font: 11px;
   } 
   table th {
      font-weight: bold;
      padding: 8px;
    }
    #header th {
	border-bottom: 1px solid #eaeaea;
    }
    #total th {
	border-top: 2px solid #eaeaea;
    }
    table td {
    padding: 8px;
    margin-right: 10px; 
    }
    #period {
	font-weight: bold;
	}
	.date {
	width:80px;
	}
	.time {
	width:40px;
	}
	.sum {
	text-align:right; 
	padding-left:10px;
	}
  }
</style>
</head>

<div id="activities">  
  <h1>Timesheet</h1>  

  <% if @activities.empty? %>
  <div class="no-occurence">
    <p>
      No activity matches your search criteria.
    </p>
  </div>
  <% else %>
  
  <p id='period'><%= @report.user.full_name %>'s hours from <%= l @report.start_date, :format => :long %> to <%= l @report.end_date, :format => :long %></p>
  <p>Project: <b><%= @report.project_title %></b></p>
  <% if params[:search] %>
  <p>Search terms: <b><%= params[:search] %></b></p>
  <% end %>
  <br/>

  <table>
    <tr id="header">
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
    </tr>

    <% @activities.each do |activity| %>
    <tr>
      <td class="date"><%= l activity.date, :format => :short %></td>
      <td class="time"><%= activity.time %></td>
      <td class="description"><%= activity.description %></td>      
    </tr>
    <% end %>

    <tr id="total">
      <th class="sum">TOTAL</th>
      <th><%= @report.total_time %></th>
      <th></th>
    </tr>
  </table>
  <% end %>
</div>