<div id="menu">
  <% if user_signed_in? && current_user.admin? %>
    
     <%= tabs_tag do |tab| %>
	  	<li><%= link_to 'Front', root_path %></li>
	    <%= tab.admin_dashboard 'Dashboard', administr8te_dashboard_path %>
  		<%= tab.admin_users 'Users', administr8te_clients_path %>
  		<%= tab.admin_subscriptions 'Subscriptions', administr8te_subscriptions_path %>
  		<%= tab.admin_audit 'Audit', administr8te_audit_path %>
  		<%= tab.admin_settings 'Settings', edit_administr8te_settings_path %>
  		<%= tab.admin_plans 'Plans', administr8te_plans_path %>
		<%= tab.admin_announcements 'Announcements', administr8te_announcements_path %>
		<%= tab.admin_emailings 'MailChimp', administr8te_emailings_path %>
		<%= tab.admin_logs 'Logs', administr8te_logs_path %>  		
     <% end %>

<% end %>
</div>