<!DOCTYPE>
<html>
  <head>
    <title>Projectlog</title>
    <meta name="description" content="Projectlog is the easy way for consultants and freelancers to send timesheet & invoices" />
    <meta name="keywords" content="timesheet, time sheet, time tracking, invoice, invoice template, invoicing, invoice online, activity log, freelancer, consultant, yafoy" />
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_links track_forms register register_once unregister identify name_tag set_config".split(" ");for(e=0;e<   g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
    mixpanel.init("70e89486f990c9719c5045110cfa5a44");</script>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <%= render :partial => 'layouts/header' %>
   
    <section id="main-content">
	  <nav id="navbar" role="navigation">
	    <%= render 'layouts/navbar' %>
	  </nav>
	  
      <section id="content" role="main">
        <%= render 'layouts/flash' %>
 	    <%= yield %>
      </section>
    </section>
  </body>
</html>