<!DOCTYPE>
<html>
  <head>
   <title>Projectlog</title>
   <meta name="description" content="Projectlog is an easy way for consultants and freelancers to send timesheet & invoices" />
   <meta name="keywords" content="time tracking, invoicing, activity log, collaborative tool, freelancer, consultant, yafoy" />
   <%= stylesheet_link_tag 'style', 'base/jquery.ui.theme', 'custom-theme/jquery-ui-1.8.13.custom' %>
   <%= javascript_include_tag 'application' %>
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   <%= csrf_meta_tag %>
   <link href='http://fonts.googleapis.com/css?family=Pacifico&v1' rel='stylesheet' type='text/css'>
  </head>
 <body>
	
	<%= render :partial => 'layouts/header' %>
   
  <section id="main-content">
	<nav id="navbar" role="navigation">
		<%= render 'layouts/navbar' %>
	</nav>
	
    <section id="content" role="main"> 
  
      <%= render 'layouts/flash' %>

 	  <%= yield %>
   </section>
  </section> <!-- main-content -->
 
 </body>
</html>