<!DOCTYPE html>
<html>
  <head>
    <title>Projectlog :: Easy Timesheet & Invoices</title>
    <%= stylesheet_link_tag 'login' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body style="background: #f2f2f2;">
    <div class="dialog">
      <%= render 'layouts/flash' %>

      <%= yield %>
    </div>
  </body>
</html>