<!DOCTYPE html>
<html>
  <head>
    <title>Projectlog :: Easy Timesheet & Invoices</title>
     <%= stylesheet_link_tag 'application' %>
     <%= javascript_include_tag 'application' %>
     <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="dialog">
      <%= render 'layouts/flash' %>

      <%= yield %>
    </div> <!-- dialog -->
  </body>
</html>