<!DOCTYPE>
<html>
<head>
  <title>Projectlog :: Easy Timesheet & Invoices for consultants</title>
  <meta name="description" content="Projectlog is an easy way for consultants and freelancers to send timesheet & invoices"/>
  <meta name="keywords" content="time tracking, invoicing, activity log, collaborative tool, freelancer, consultant, yafoy"/>
  <%= stylesheet_link_tag "public" %>
  <%= stylesheet_link_tag "invoices", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Pacifico&v1' rel='stylesheet' type='text/css'>
</head>
<body>
<%= yield %>
<section id="footer" class="no-print">
  <p>Brought to you by Projectlog :: The easy way to track time and send invoice.
    <a href="http://getprojectlog.com">Learn more</a> or <%= link_to 'Sign Up (free)', register_path %></p>
</section>
</body>
</html>
